<div class="menu">
    <div class="menu_container">
        <div class="menu_item" ui-sref="home">
            <span class="menu_item_icon icon-home"></span>
            <span class="menu_item_title">Home</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item"  ui-sref="list({listType: 'unseen'})">
            <span class="menu_item_icon icon-unseen"></span>
            <span class="menu_item_title">Unseen</span>
            <span class="menu_item_counter">{{storage.unseenItems.length ? storage.unseenItems.length : ''}}</span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item"  ui-sref="list({listType: 'skipped'})">
            <span class="menu_item_icon icon-skipped"></span>
            <span class="menu_item_title">Skipped</span>
            <span class="menu_item_counter">{{storage.skippedItems.length ? storage.skippedItems.length : ''}}</span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item"  ui-sref="list({listType: 'seen'})">
            <span class="menu_item_icon icon-seen"></span>
            <span class="menu_item_title">Seen</span>
            <span class="menu_item_counter">{{storage.seenItems.length ? storage.seenItems.length : ''}}</span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item"  ui-sref="list({listType: 'favorite'})">
            <span class="menu_item_icon icon-favorites"></span>
            <span class="menu_item_title">Favorites</span>
            <span class="menu_item_counter">{{storage.favoritesItems.length ? storage.favoritesItems.length : ''}}</span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item" ui-sref="profile" ng-show="isUserAuthorized()">
            <span class="menu_item_icon icon-profile"></span>
            <span class="menu_item_title">My Profile</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item" ui-sref="contact">
            <span class="menu_item_icon icon-email"></span>
            <span class="menu_item_title">Contact Us</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
    </div>
    <div class="menu_container_outer" ng-click="toggleSideMenu()"></div>

</div>