<div>
    <h2>Videos</h2>
    <div>

        <button class="btn btn-lg" ui-sref="video">Add video</button>
        <button class="btn btn-lg" ui-sref="upload">Upload video</button>

        <div class="list-group">
            <div class="list-group-item" ng-repeat="movie in videosList">
                <div class="list-group-item-heading">{{movie.title}}</div>
                <div class="list-group-item-text">{{movie.description}}</div>
                {{movie.streams.link}}
                <a ui-sref="video({id: movie.id })">Edit</a>
            </div>
        </div>
    </div>
</div>