<div class="page">
    <h2>Videos</h2>


    <div class="container-fluid">
        <div class="col-sm-4 col-md-2">
            <button class="btn btn-lg" ui-sref="video({id: 0})">Add video</button>
        </div>

        <div class="col-sm-4 col-md-2 col-xs-6">
            <h4>Filter</h4>
            <select ng-model="content.category_id" class="col-sm-12">
                <option ng-repeat="option in categoriesList" value="{{option.id}}">{{option.title}}</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-2 col-xs-6">
            <h4>Order</h4>
            <select ng-model="contentOrder.order_by" class="col-sm-12">
                <option ng-repeat="orderItem in orderList" value="{{orderItem.name}}">{{orderItem.title}}</option>
            </select>
        </div>

    </div>


        <div class="container-fluid">
            <div class="row" ng-repeat="movie in videosList | filter:content | orderBy:contentOrder.order_by" style="border: solid #d9f1fb 1px">
                <div class="col-xs-12 col-sm-3 col-lg-2 col-md-3">
                    <img class="media-object" ng-src="{{movie.hero_image_link}}" alt="{{movie.title}}" style="width: 100%">
                </div>
                <div class=" col-sm-9 col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="media-heading">{{movie.title}}</h3>
                            <span>{{movie.createdDate}}</span>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <h4>{{movie.categoryName}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {{movie.description}}
                            <br>
                            <a ui-sref="video({id: movie.id })">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


</div>