<form class="login-form-wrapper">

    <div class="login-form">
        <button class="login-form_facebook-login" ng-click="facebookLogin()">
            <span class="login-form_facebook_login-icon">
                [[images/facebook.svg]]
            </span>
            <span class="login-form_facebook_login-text">
                Login with Facebook
            </span>
        </button>

        <div class="login-form_title_wrapper">
            <div class="login-form_title_decoration"></div>
            <span class="login-form_title">or with your email</span>
            <div class="login-form_title_decoration"></div>
        </div>


        <input ng-model="login.email" class="login-form_input" placeholder="Email Address" type="email" ng-keyup="changeFocusOnEnter($event)">
        <input ng-model="login.password" class="login-form_input login-form_input--pass" placeholder="Password" type="password" ng-keyup="loginOnEnter($event)">

        <button class="login-form_login" ng-click="processLogin()">Login</button>

        <div class="login-form_forgot-password"  ng-click="resetPasswordClick()">Forgot Password?</div>
    </div>

    <div class="login-form_want-account">
        Want an account? <span class="login-form_want-account_login" ng-click="registerClick()">Sign Up</span>
    </div>

    <div class="icon-close login-form_close" ng-click="closeView()"></div>


</form>

<message-overlay params="message" class="register-form"></message-overlay>