<div class="share" style="background-image: url('{{video.hero_images.hero_image_link}}')"> </div>

<div class="share-wrapper">
    <div class="share_group">
        <div class="share_group_title">
            <span class="icon-share"></span>
            <span>Share this video</span>
        </div>

        <div class="share_group_video"
             style="background-image: url('{{video.hero_images.hero_image_link}}')"
        >
            <div class="share_group_video_title">
                <span class="share_group_video_title_caption">{{::video.title}}</span>
            </div>
        </div>

        <div class="share_group_social">
            <div class="share_group_social_item social-facebook">
                <span class="icon-facebook"></span>
                <span>Facebook</span>
            </div>
        </div>

        <div class="share_group_link-title">
            <hr>
            <span>Link</span>
            <hr>
        </div>
        <input class="share_group_link">


    </div>
</div>

<div class="share_overlay"></div>