%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
  %body
    :css
      @media screen and (max-device-width: 640px){
        .main{
          width: 100%;
        }
      }
      @media screen and (min-width: 1024px){
        .main{
          width: 70%;
        }
      }
      body{
        padding: 20px;
      }
      .main{
        background-color: #1c1f24;
        padding: 10px 20px 20px 20px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
        line-height: 120%;
        outline: solid;
        outline-offset:-10px;
        outline-width: 1px;
        outline-color: #26b1c0;
      }

      .button a{
        color: #315c73;
        background-color: #00ffff;
        border: none;
        color: #315c73;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .button{
        text-align: center;
      }

      img{
        height: 50px;
        width: 50px;
        padding: 0;
        margin: 0;
      }

      .div1{
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .div2{
        font-size: 14pt;
        margin-top: 0
      }
      .div3{
        font-size: 12pt;
        margin-left: 10px;
      }

      a{
        color: #315c73;
      }

    .main
      %p.div1
        %a{href: "https://staging.cizo.com/app/#", target: "_blank"}
          %img{src:'https://staging.cizo.com/app/images/logo.svg'}
        %p.div2 Hello, #{@email.split('@')[0]}!
      .div3
        %p
          Someone has requested a link to change your
          = link_to 'Cizo.com', "https://staging.cizo.com/app/#", target: "_blank"
          account password.
          You can do this through the button below.
          %p
            .button
              = link_to 'Change password', edit_password_url(@user, reset_password_token: @token), target: "_blank"

        %p If you didn't request this, please ignore this email.
        %p Your password won't change until you access the link above and create a new one.
