%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div{style:"background-color: #1c1f24; padding: 20px; color: white;font-family: 'Montserrat', sans-serif; width: 50%; margin: 0 auto;"}
      %hr
      %p{style: "font-size: 14pt;"} Hello, #{@email}!
      %div{style: "font-size: 12pt;margin-left: 10px;"}
        %p
          Someone has requested a link to change your
          = link_to 'Cizo.com', "https://staging.cizo.com/app/#", target: "_blank", style:"color: #315c73"
          account password.
          You can do this through the button below.
          %p{style: "text-align: center;"}
            = link_to 'Change password', edit_password_url(@user, reset_password_token: @token), target: "_blank", style:"color: #315c73; background-color: #00ffff; border: none; color: #315c73; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;"

        %p If you didn't request this, please ignore this email.
        %p Your password won't change until you access the link above and create a new one.
      %hr
