%html
  %head
  %body
    %table{style: "width: 100%;font-family: 'Century Gothic Regular', CenturyGothic, AppleGothic, areal;"}
      %tr
        %td{style: "padding: 30px 30px 60px 30px; background-color: #15161a; text-align: center; margin: 0 auto"}
          %table{style: 'text-align: center; color: #fff; margin: 0 auto; background-color: #1c1f24; padding: 20px 20px 20px 20px; width:70%; min-width: 560px; max-width: 760px;'}
            %tr{style: ""}
              %td{style: "background-color: #1c1f24;"}
                %a{href: @web_app_url}
                  %img{src: @web_app_url + "images/logo.svg", style: "width: 70px;", target: '_blank' }
            %tr
              %td{style: 'font-size: 14pt; width: 100%; color: #fff'}
                %table{style: 'font-size: 14pt;color: #fff; margin: 0 auto;'}
                  %tr
                    %td{style: 'text-align: center; margin: 0 auto;'}
                      %div{style: 'font-size: 30pt; border-bottom-color: #3cffee; border-bottom-style:solid;  border-bottom-width: 1px;padding-bottom: 15px; margin-bottom: 10px; text-align: center;'}
                        Hello #{@email.split('@')[0].capitalize}!
            %tr
              %td{style: 'font-size: 16pt; padding-top: 0'}
                PASSWORD RESET REQUEST
            %tr
              %td{style: 'font-size: 14pt; line-height: 150%;'}
                Someone has requested a link to change your
                %a{href: @web_app_url ,target: "_blank", style: 'color: #fff; font-weight: bold; text-decoration: none;'}Cizo.com
                account password.
                You can do this through the button below.
            %tr{style: 'height: 100px;'}
              %td{style:'padding: 20 0'}
                .button{style: 'text-align: center;'}
                  %a{href: @reset_url, target: "_blank", style: 'color: #315c73; background-color: #1c1f24;border: solid #fff 1px; color: #ffffff; padding: 10px 50px; text-align: center; text-decoration: none; font-size: 20px;'}
                    CHANGE PASSWORD
            %tr
              %td{style:'line-height: 150%; color: #356781; font-size: 10pt;padding-bottom: 5px;'}
                If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
