<div class="play">
    <left-side-menu storage="storage"></left-side-menu>

    <top-menu categories="categoriesList"
              host-name="{{hostName}}"
              videos-list="videosFullList"
              storage="storage"
              show-advanced="true"
    ></top-menu>

    <show-player class="play_player"
                 video="videoItem"
                 videos-list="videosList"
                 featured-list="featuredList"
                 host-name="{{hostName}}"
                 sharing-path="{{sharingPath}}"
                 facebook-app-id="{{facebookAppId}}"
                 storage="storage"
    ></show-player>

    <div class="play_video-items">
        <category-carousel category="category"
                           videos="videosList"
                           storage="storage"
                           selected-video="videoItem"
                           ng-repeat="category in sortedCategoriesList"></category-carousel>

    </div>
    <page-footer></page-footer>
</div>