<div class="play">
    <left-side-menu storage="storage"></left-side-menu>

    <top-menu categories="categoriesList"
              host-name="{{hostName}}"
              videos-list="videosFullList"
              storage="storage"
              show-advanced="true"
    ></top-menu>

    <show-player class="play_player"
                 video="videoItem"
                 videos-list="videosList"
                 featured-list="featuredList"
                 host-name="{{hostName}}"
                 storage="storage"
    ></show-player>

    <div class="play_video-items">
        <play-items category-id="{{videoCategoryId}}" videos="videosList" categories="categoriesList" storage="storage"></play-items>
    </div>
    <page-footer></page-footer>
</div>