<div class="play">
    <left-side-menu storage="storage"></left-side-menu>

    <top-menu categories="categoriesList"
              host-name="{{hostName}}"
              videos-list="videosFullList"
              storage="storage"
              show-advanced="true"
    ></top-menu>

    <show-player class="play_player"
                 video="videoItem"
                 videos-list="videosList"
                 featured-list="featuredList"
                 host-name="{{hostName}}"
                 sharing-path="{{sharingPath}}"
                 facebook-app-id="{{facebookAppId}}"
                 category-id="{{ selectedCategory.id || '' }}"
                 storage="storage"
    ></show-player>

    <div class="play_video-items" ng-if="!selectedCategory">
        <category-carousel category="category"
                           videos="videosList"
                           storage="storage"
                           category-only="false"
                           selected-video="videoItem"
                           ng-repeat="category in sortedCategoriesList"
        ></category-carousel>
    </div>
    <div class="list_video-items" ng-if="selectedCategory">
        <list-items storage="storage"
                    videos="videosInCategory"
                    selected-video="videoItem"
                    list-type="category"
                    category-name="{{selectedCategory.title}}"
        ></list-items>
    </div>

    <page-footer></page-footer>
</div>