<div class="page-footer">
    <div class="page-footer__badges">
        <a href="https://itunes.apple.com/us/app/cizo-preview-your-future/id1091417427?ls=1&mt=8"
           class="page-footer__link"><img src="/images/downloadAppStore.svg" alt="Download on AppStore" class="page-footer__icon"></a>
    </div>
    <div class="page-footer__links">
        <span class="page-footer__text">&copy; 2016 CIZO, Inc. All rights reserved.</span>
        <span ui-sref="privacy" class="page-footer__link">Privacy Notice</span>
        <span ui-sref="terms" class="page-footer__link">Terms of Use</span>
        <a href="mailto:contact@cizo.com" class="page-footer__link">Contact</a>
        <a href="mailto:careers@cizo.com" class="page-footer__link">Careers</a>
    </div>
</div>