@color-lighter: #3cffee;
@color-lite: #24aabc;
@color-mid: #356781;
@color-dark: #2c3d51;
@color-darker: #1c1f24;

.player {

  &_buttons-layer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;

    &--fullscreen {
      z-index: 2147483647;
    }

    &_top-elements {
      display: flex;
      align-items: stretch;
      align-content: stretch;
      justify-content: space-between;
      height: 10%;
      &_close-button {
        margin-left: 10px;
        margin-top: 10px;
        color: @color-lighter;
        font-size: 23px;
        text-shadow: #000011 3px 3px 10px;
        &::before {
          margin-top: 15px;
        }
      }
      &_rightside {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 10px;
        &_buttons {
          color: white;
          font-size: 27px;
          text-shadow: #000011 3px 3px 10px;
          margin: 10px;
        }
      }
    }

    &_center-elements {
      display: flex;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;
      height: 60%;

      &_play-button {
        display: flex;
        min-width: 60px;
        min-height: 60px;
        width: 25%;
        height: 25%;
        justify-content: center;
        align-items:center;
        align-content: flex-start;
        margin-top: 15%;

        img {
          width: 60%;
          height: 60%;
        }
      }

      &_pause-button {
        display: flex;
        min-width: 60px;
        min-height: 60px;
        width: 25%;
        height: 25%;
        justify-content: center;
        align-items:center;
        align-content: flex-start;
        margin-top: 15%;

        img {
          width: 60%;
          height: 60%;
        }
      }
    }

    &_bottom-elements {
      display: flex;
      align-items: stretch;
      align-content: flex-end;
      justify-content: flex-end;
      height: 30%;
      flex-direction: column;
      &_titles {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
        color: white;

        &--hero-image {
          background-color: #000011;
          opacity: 0.8;
        }

        &_current {
          display: flex;
          align-items: flex-end;
          align-content: flex-end;
          justify-content: flex-end;
          flex-direction: row;

          &_category {
            width: 80px;
            height: 60px;
            color: @color-lighter;
            font-size: 50px;
            margin-bottom: 10px;
          }

          &_title {
            display: flex;
            align-items: flex-start;
            align-content: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            font-size: 26px;

            &_created {
              font-size: 18px;
            }
          }

        }

        &_next {
          display: flex;
          align-items: stretch;
          align-content: flex-end;
          justify-content: flex-end;
          flex-direction: column;
          overflow: hidden;
          height: 100px;
          width: 200px;
          border: solid @color-lighter 1px;
          background-size: cover;
          padding: 5px;

          &_up-text {
            text-transform: uppercase;
            color: @color-lite;
          }

          &_up-title {
            font-size: 24px;
          }
        }
      }

      &_controls {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
        color: @color-lighter;
        padding: 5px 10px;


        &_expand {
          color: @color-lighter;
          font-size: 23px;
          text-shadow: #000011 3px 3px 10px;
        }

        &_collapse {
          color: @color-lighter;
          font-size: 23px;
          text-shadow: #000011 3px 3px 10px;
        }

        &_slider {
          width: 85%;
        }

        &_time-position {
          margin-bottom: 7px;
        }

        &_duration {
          margin-bottom: 7px;
        }
      }
    }
  }

}




video {
  object-fit: contain;
}

//settings for hiding default controls
::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

player {
  .hidden-layer {
    display: none !important;
  }
  .no-padding {
    padding: 0;
  }


  //slider current value item
  span.rz-bubble {
    display: none !important;
  }

  //slider pointer override
  rzslider .rz-pointer {
    background-color: @color-lighter !important;
    top: -6px !important;
    width: 16px !important;
    height: 16px !important;
    content: normal !important;
    &:focus {
      outline: none !important;
    }
  }
  //slider minimal value
  span.rz-pointer[aria-valuetext = "0"] {
    display: none !important;
  }
  //slider full bar
  rzslider .rz-bar {
    background: @color-lighter !important;
    opacity: 0.4 !important;
  }
  //slider viewed bar
  rzslider .rz-bar.rz-selection {
    background: @color-lighter !important;
  }
  //slider focused point
  rzslider .rz-pointer:after {
    display: none !important;
  }
}

