.player {

  &_buttons-layer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;

    &_top-elements {
      display: flex;
      align-items: stretch;
      align-content: stretch;
      justify-content: space-between;
      height: 10%;
      &_close-button {
        margin-left: 20px;
        fill: white;
      }
      &_rightside {
        display: flex;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 10px;
        &_buttons {
          fill: white;
          stroke-width: 10;
          stroke: white;
          margin: 10px;
          width: 40px;
        }
      }
    }

    &_center-elements {
      display: flex;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;
      height: 60%;

      &_play-button {
        display: flex;
        min-width: 60px;
        min-height: 60px;
        width: 25%;
        height: 25%;
        justify-content: center;
        align-items:center;
        align-content: flex-start;
        margin-top: 15%;

        img {
          width: 60%;
          height: 60%;
        }
      }
    }

    &_bottom-elements {
      display: flex;
      align-items: stretch;
      align-content: flex-end;
      justify-content: flex-end;
      height: 30%;
      flex-direction: column;
      &_titles {
        display: flex;
        align-items: stretch;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
        color: white;

        &--hovered {
          background-color: #000011;
          opacity: 0.8;
          border-left: white solid 5px;
        }

        &_current {
          display: flex;
          align-items: stretch;
          align-content: flex-end;
          justify-content: flex-start;
          flex-direction: row;

          &_category {
            fill: white;
            width: 80px;
            height: 60px;
            padding: 10px;
          }

          &_title {
            display: flex;
            align-items: stretch;
            align-content: stretch;
            justify-content: flex-start;
            flex-direction: column;
            font-size: 26px;

            &_created {
              font-size: 18px;
            }
          }

        }
      }

      &_controls {
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        padding: 5px 10px;

        &_expand {
          fill: white;
          min-width: 30px;
          min-height: 26px;
        }
      }
    }
  }

}


@btns-size: 45px;

video {
  object-fit: contain;
}

.player-buttons-common() {
  z-index: 100;
  color: white;
  font-size: @btns-size;
  margin: 15px;
  span:hover {
    text-shadow: 0 0 30px #00b3ee;
  }
}



player {

  margin-top: 10px;

  .hidden-layer {
    display: none !important;
  }
  .no-padding {
    padding: 0;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    padding: 0;
  }


  .text-overlay-layer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items:flex-end;

    .text-overlay-region {
      display: flex;
      justify-content: flex-start;
      align-items:flex-end;
        background: linear-gradient(to right,#d9edf7 60%, transparent);
        width: 100%;
    }

    .overlayText {
      padding: 15px 80px 15px 40px;
      color: black;
    }
  }
}