<div class="container-fluid player" video-id="{{::video.id}}">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <!-- video layer -->
            <div class="col-xs-12 no-padding video-layer hidden-layer">
                <video class="col-xs-12 no-padding"  preload='none'>
                    <source src="">
                    <source src="{{::videoLink}}" type="video/mp4">
                </video>
            </div>

            <!-- hero image layer -->
            <div class="col-xs-12 no-padding hero-image-layer player_hero-image-layer" style="background-image: url({{::video.hero_image_link}})">
                <!--<img class="col-xs-12 no-padding content"  ng-src="{{::video.hero_image_link}}">-->
            </div>

            <!-- buttons layer-->
            <div class="player_buttons-layer"
                 ng-mouseenter="imageHover()"
                 ng-mouseleave="imageBlur()"
                 ng-click="toggleControlsVisibility()"
                 ng-mousemove="mouseMoveOnVideo()"
                 ng-dblclick="toggleFullScreen()"
                    >
                <!-- top buttons-->
                <div class="player_buttons-layer_top-elements">
                    <div>
                        <span class="icon-close player_buttons-layer_top-elements_close-button hidden-layer"></span>
                    </div>


                    <div class="player_buttons-layer_top-elements_rightside hidden-layer">
                        <span class="icon-favorites player_buttons-layer_top-elements_rightside_buttons"></span>
                        <span class="icon-info player_buttons-layer_top-elements_rightside_buttons"></span>
                        <span class="icon-share player_buttons-layer_top-elements_rightside_buttons"></span>
                    </div>
                </div>
                <!-- center elements-->
                <div class="player_buttons-layer_center-elements">
                    <img src="images/iconVideoPlay.svg" ng-click="togglePlayPause($event)" class="player_buttons-layer_center-elements_play-button">
                    <img src="images/iconVideoPause.svg" ng-click="togglePlayPause($event)" class="player_buttons-layer_center-elements_pause-button hidden-layer">
                </div>
                <!-- bottom elements-->
                <div class="player_buttons-layer_bottom-elements">
                    <div class="player_buttons-layer_bottom-elements_titles player_buttons-layer_bottom-elements_titles--hero-image">
                        <div class="player_buttons-layer_bottom-elements_titles_current">
                            <div class="player_buttons-layer_bottom-elements_titles_current_category icon-category{{::iconTitle}}"></div>

                            <div class="player_buttons-layer_bottom-elements_titles_current_title">
                                <span class="player_buttons-layer_bottom-elements_titles_current_title_created">
                                    {{::createdDate}}
                                </span>
                                <span class="player_buttons-layer_bottom-elements_titles_current_title">
                                    {{::video.title}}
                                </span>
                            </div>
                        </div>

                        <div class="player_buttons-layer_bottom-elements_titles_next hidden-layer" ng-show="nextVideo" ng-click="playNextVideo($event)">

                            <div class="player_buttons-layer_bottom-elements_titles_next_image" style="background-image: url({{nextVideo.hero_image_link}})"></div>
                            <div class="player_buttons-layer_bottom-elements_titles_next_up-text">up next...</div>
                            <div class="player_buttons-layer_bottom-elements_titles_next_up-title">{{nextVideo.title}}</div>
                        </div>
                    </div>
                    <div class="player_buttons-layer_bottom-elements_controls hidden-layer">

                        <div class="player_buttons-layer_bottom-elements_controls_time-position">{{timePassed}}</div>

                        <div class="player_buttons-layer_bottom-elements_controls_slider">
                            <rzslider ng-click="$event.stopPropagation()"
                                      rz-slider-high="sliderModel.value"
                                      rz-slider-model="sliderModel.start"
                                      rz-slider-options="sliderModel.options"
                                      ></rzslider>
                        </div>

                        <div class="player_buttons-layer_bottom-elements_controls_duration">{{duration}}</div>

                        <span class="icon-expand player_buttons-layer_bottom-elements_controls_expand" ng-click="toggleFullScreen()"></span>
                        <span class="icon-collapse player_buttons-layer_bottom-elements_controls_collapse hidden-layer" ng-click="toggleFullScreen()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" ng-show="video.isWatching">
        <div class="description" style="color: white">
            <h4>{{::video.title}}</h4>
            {{::video.description}}
        </div>
    </div>-->


</div>