<div class="container-fluid" video-id="{{::video.id}}">
    <div class="row">
        <div class="col-xs-12 no-padding">
            <!-- video layer -->
            <div class="col-xs-12 no-padding video-layer hidden-layer">
                <video class="col-xs-12 no-padding"  preload='none'>
                    <source src="">
                    <source src="{{::videoLink}}" type="video/mp4">
                </video>
                <div class="info-panel">
                    <span>{{timePassed}} / {{duration}}</span>
                </div>
            </div>

            <!-- hero image layer -->
            <div class="col-xs-12 no-padding hero-image-layer">
                <img class="col-xs-12"  ng-src="{{::video.hero_image_link}}">
            </div>

            <!-- play button layer-->
            <div class="play-button-layer">
                <div class="play-button-centered" ng-click="togglePlayPause()">
                    <img src="images/iconVidPlay.svg">
                </div>
            </div>
            <!-- text overlay -->
            <div class="text-overlay-layer hidden-layer">
                <div class="text-overlay-region">
                    <img ng-src="images/iconCategory{{::iconTitle}}.svg">
                    <h3 class="overlayText">{{::video.title}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="descriptionVisible">
        <div class="description" style="color: white">
            <h4>{{::video.title}}</h4>
            {{::video.description}}
        </div>
    </div>


</div>