<form>
    <div class="privacy-form">
        <div class="privacy-form_caption">
            Terms of usage
        </div>

        <div class="privacy-form_text">
            Please read the following Terms of Use (these “Terms”) carefully before using the CIZO, INC. (“CIZO”, “we,”
            “our,” or “us”) website, located at www.cizo.com, or participating in any online features, services and/or
            programs offered by us, including, but not limited to, our App, as defined herein (each, a “Web Property”
            and collectively, the “Web Properties”).  These Terms are in effect for all of our Web Properties,
            including use of the CIZO mobile application (the “App”).
            <br><br>
            These Terms are not applicable to any other web page operated and/or owned by any entity other than CIZO,
            including, but not limited to, any website, mobile application, blog, forum, or other material operated by
            any third party identified on the Web Properties.  When visiting these third-party websites, you should
            refer to the terms and conditions in effect for the applicable owner.
            <br><br>
            PLEASE READ THESE TERMS CAREFULLY, WHICH INCLUDE IMPORTANT INFORMATION ABOUT YOUR LEGAL RIGHTS, REMEDIES,
            AND OBLIGATIONS.   BY ACCESSING OR USING THE WEB PROPERTIES, YOU ARE ENTERING INTO A LEGAL CONTRACT WITH
            CIZO REGARDING YOUR USE OF THE WEB PROPERTIES.  BY ACCESSING OR USING THE WEB PROPERTIES, YOU AGREE TO
            BE BOUND BY THESE TERMS AND ALL ADDITIONAL TERMS INCORPORATED BY REFERENCE.  IF YOU DO NOT AGREE TO
            ANY PORTION OF THESE TERMS, YOU SHOULD NOT ACCESS OR OTHERWISE USE THE WEB PROPERTIES.
            <br><br>
            <b>PROMOTIONAL AND INFORMATION ONLY</b>.  The Web Properties are provided to you as a convenience, for promotional
            purposes, and for your information only. By merely providing access to the Web Properties, we do not
            warrant or represent that: (a) any materials, documents, images, graphics, logos, design, audio, video,
            TV clips and trailers, movie clips and trailers, and any other information provided from or on the Web
            Properties (collectively, the “Content”) is accurate or complete; (b) the Content is up-to-date or current;
            (c) we have any obligation to update any Content; (d) the Content is free from technical inaccuracies
            or programming or typographical errors; (e) the Content is free from changes caused by a third party;
            (f) your access to the Web Properties will be free from interruptions, errors, computer viruses or
            other harmful components; (g) any information obtained in response to questions asked through the
            Web Properties is accurate or complete; and/or (h) the Content is non-infringing of any third party’s
            intellectual property rights.  We are providing the Content for promotional and publicity purposes.
            <br><br>
            <b>WEB PROPERTIES USE AND CONTENT</b>. You may view, copy or print a single copy of any page from the Web
            Properties for personal, non-commercial purposes if you do not remove, modify, or alter any copyright
            and proprietary rights notices that may be present. You may not otherwise use, modify, copy, print,
            display, distribute, publish, or sell any information from the Web Properties without our express, prior,
            written consent.  YOU MAY NOT USE ANY WEB PROPERTY FOR ANY COMMERCIAL USE.  Any special rules for the
            software, audio files, video files, downloads, and other items accessible through the Web Properties
            may be included elsewhere in the Web Properties and are incorporated into these Terms by reference.
            You agree that you will not access the Content through any technology or means other than through the
            video playback pages of the Web Properties or other explicitly authorized means CIZO may designate.
            <br><br>
            <b>UPDATES</b>.  We may make changes to the Web Properties, the Content, the User Content and/or these Terms,
            and/or stop providing any of the Web Properties and/or the Content, at any time and without further
            notice to you.  We will make an effort to update this web page with any changes to these Terms and
            you are encouraged to review these Terms frequently (the date of the most recent revision to these
            Terms appears at the end of these Terms).
            <br><br>
            <b>PRIVACY</b>. We know that privacy is very important to you, and it is very important to us as well.
            You consent to receive electronic communications from us. We will communicate with you by email or
            by posting notices on our Web Properties. You agree that all agreements, notices, disclosures and
            other communications that we provide to you electronically satisfy any legal requirement that such
            communication be in writing. Personal data that you provide regarding yourself will be handled
            in accordance with our Privacy Notice located at <a ui-sref="privacy">Privacy Notice</a>.
            <br><br>
            <b>USER ACCOUNT, PASSWORD AND SECURITY</b>. To the extent that a user account is created by you to access and
            use any Web Property (“User Account”), the following shall apply:

            <ul>
                <li>
                    (a) 	USER ACCOUNT. To access certain features, Content and/or User Content available through the Web
                    Properties, we recommend that you sign up by using your Facebook login account information. If you cannot
                    or do not want to use your Facebook credentials, we require that you sign up using your email address and
                    a password to create a User Account. We use reasonable precautions to protect the privacy of your password
                    and User Account information. You, however, are ultimately responsible for protecting your password and
                    User Account information from disclosure to third parties, and you are not permitted to circumvent the use
                    of required encryption technologies, if any. You agree to (i) immediately notify us of any unauthorized
                    use of your password or User Account, or any other breach of security; (ii) ensure that you exit from your
                    User Account at the end of each session; and (iii) use a security passcode to secure your device where
                    the App may be installed or your User Account information is stored. While we provide certain encryption
                    technologies and use other reasonable precautions to protect your confidential information and provide
                    suitable security, we do not and cannot guarantee or warrant that information transmitted through
                    the Internet is secure, or that such transmissions are free from delay, interruption, interception or error.
                </li>
                <li>
                    (b)	ACCURATE INFORMATION. In creating and using your User Account, you agree to: (i) provide true,
                    accurate, current, and complete information about yourself on any registration form required for
                    the Web Properties, including, but not limited to, your email address and age (such information
                    being the “Registration Data”); and (ii) maintain and promptly update the Registration Data to keep
                    it true, accurate, current, and complete.  If you provide any information that is untrue,
                    inaccurate, not current, or incomplete, or if we have reasonable grounds to suspect that such
                    information is untrue, inaccurate, not current, or incomplete, then we have the right to suspend
                    or terminate your User Account.
                </li>
                <li>
                    (c)	NON-TRANSFERABILITY OF USER ACCOUNT. User Accounts are non-transferable, and all users are
                    obligated to take preventative measures to prohibit unauthorized users from accessing the Web
                    Properties with his or her password. We are entitled to act on all instructions received by
                    anyone using your User Account.  In the event that more than one User Account is assigned
                    to the same individual, the duplicate account will be cancelled.
                </li>
                <li>
                    (d)	ACCOUNT DEACTIVATION. We reserve the right to deactivate or cancel a User Account and/or your
                    access to the App in our sole discretion, including for the following reasons: (i) you request
                    such deactivation; (ii) you are deceased; (iii) you do not respond to repeated communication
                    attempts regarding the status of your User Account or use of the App; or (iv) you reside in or
                    relocate to a country where use of a User Account or the App is prohibited under applicable law.
                </li>
                <li>
                    (e)	DATA RETENTION POLICY, MANAGING YOUR INFORMATION.  We will retain User Account information
                    and some automatically collected information (including, but not limited to, the type of mobile
                    device you use, information about the way you use the App, and Browsing Information) for as long
                    as you use the App and for a reasonable time thereafter, and we may store it in the aggregate.
                    If you would like us to delete your User Account information that you have provided via the App,
                    please contact us at app@cizo.com and we will respond in a reasonable time. Information that you
                    enter into the App or Web Properties will generally remain there until you use it or we receive
                    another legitimate request to remove it.
                </li>
            </ul>
            <br><br>
            <b>USER CONTENT</b>.  The Web Properties may in the future permit the submission of various forms of content
            submitted by you and other users, such as materials, statements, reviews, ratings, opinions, personal
            accounts, documents, images, graphics, logos, designs, videos, text files, audio files, and comments
            (collectively, “User Content”) and the hosting, sharing, downloading, publishing and/or republishing
            of such User Content. WE DO NOT GUARANTEE ANY CONFIDENTIALITY WITH RESPECT TO ANY USER CONTENT.
            TO PROTECT YOUR PRIVACY AND THE PRIVACY OF OTHERS, YOU AGREE THAT YOU WILL NOT PROVIDE ANY USER CONTENT
            THAT CONTAINS PERSONALLY IDENTIFIABLE INFORMATION (SUCH AS NAME, PHONE NUMBER, EMAIL OR MAILING ADDRESS,
            SOCIAL SECURITY NUMBER, ETC.) BELONGING TO YOU OR ANYONE ELSE. UPLOADING IMAGES OR VIDEOS OF OTHER PEOPLE
            WITHOUT THEIR PERMISSION IS STRICTLY PROHIBITED.
            <br><br>
            You shall be solely responsible for your User Content, and the consequences of posting or publishing it.
            We do not endorse any User Content or any opinion, recommendation, or advice expressed therein, and we
            expressly disclaim any and all liability in connection with User Content.  You acknowledge that CIZO
            reserves the right to pre-screen User Content and we have the right (but not the obligation) in our sole
            discretion to refuse, move, and/or remove User Content that is available on or through the Web Properties.
            <br><br>
            <b>OBJECTIONABLE MATERIAL</b>. You acknowledge that in using the Web Properties and accessing the Content and/or
            User Content, you may encounter material that you deem to be disturbing, offensive or objectionable.
            You agree to use the Web Properties at your sole risk and that we shall have no liability to you
            for material that may be disturbing, objectionable or offensive to you.
            <br><br>
            <b>NOT INTENDED FOR CHILDREN</b>.  We do not collect Personal Information from any person that we know to be
            under the age of thirteen (13).  Specifically, the Web Properties are not intended or designed to attract
            children under the age of thirteen (13).  To access and view certain Content for mature viewers, you will
            need to affirm that you are more than eighteen (18) years of age, or an emancipated minor, or possess
            legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions,
            obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and
            comply with these Terms. In any case, you affirm that you are over the age of thirteen (13), as
            THE WEB PROPERTIES ARE NOT INTENDED FOR CHILDREN UNDER THIRTEEN (13) WHO ARE UNACCOMPANIED BY
            THEIR PARENTS OR LEGAL GUARDIANS.
            <br><br>
            <b>DISCLAIMERS</b>.
            <ul>
                <li>
                    (a)	NO WARRANTIES FOR WEB PROPERTIES. When using the Web Properties, information will be transmitted
                    in such a way that may be beyond our control. As such, we make no warranty concerning the delay,
                    failure, interruption, or corruption of any data, the Content, the User Content, or other
                    information transmitted in connection with the use of the Web Properties. YOU EXPRESSLY AGREE THAT
                    YOUR USE OF THE WEB PROPERTIES IS AT YOUR SOLE RISK. THE WEB PROPERTIES, THE CONTENT, AND THE USER
                    CONTENT ARE PROVIDED “AS IS” AND “AS AVAILABLE” FOR YOUR USE, WITHOUT WARRANTIES OF ANY KIND, EITHER
                    EXPRESS OR IMPLIED, UNLESS SUCH WARRANTIES ARE LEGALLY INCAPABLE OF EXCLUSION. WE MAKE NO
                    REPRESENTATIONS OR WARRANTIES THAT THE WEB PROPERTIES, THE CONTENT, THE USER CONTENT OR ANY SERVICES
                    OFFERED IN CONNECTION WITH THE WEB PROPERTIES, INCLUDING, BUT NOT LIMITED TO, THE APP, ARE OR WILL
                    REMAIN UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE WEB PAGES ON OR
                    THROUGH THE WEB PROPERTIES, OR THE SERVERS USED IN CONNECTION WITH THE WEB PROPERTIES, ARE OR WILL
                    REMAIN FREE FROM ANY VIRUSES, WORMS, TIME BOMBS, DROP DEAD DEVICES, TROJAN HORSES, OR OTHER HARMFUL
                    COMPONENTS. WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE WEB PROPERTIES AT TIMES
                    OR LOCATIONS OF YOUR CHOOSING, OR THAT WE WILL HAVE ADEQUATE CAPACITY FOR THE WEB PROPERTIES AS A
                    WHOLE OR IN ANY SPECIFIC GEOGRAPHIC AREA. WE MAKE NO REPRESENTATION OR WARRANTY REGARDING GOVERNMENT
                    COMPLIANCE OF ANY SOFTWARE USED IN RUNNING THE WEB PROPERTIES.
                </li>
                <li>
                    (b)	INDEMNIFICATION. You agree to defend, indemnify, and hold harmless CIZO and our directors,
                    officers, employees, and agents from and against any and all claims, demands, suits, proceedings,
                    liabilities, judgments, losses, damages, expenses, and costs (including, but not limited to,
                    reasonable attorneys’ fees) assessed or incurred by us, directly or indirectly, with respect to or
                    arising out of: (i) your failure to comply with these Terms; (ii) your breach of your obligations
                    under these Terms; and/or (iii) your use of the rights granted hereunder, including, but not
                    limited to, any claims made by any third parties.
                </li>
            </ul>

            <b>LIMITATION OF LIABILITY</b>.  IN NO EVENT WILL WE BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
            EXEMPLARY, PUNITIVE, OR CONSEQUENTIAL DAMAGES ARISING FROM YOUR USE OF OR INABILITY TO USE THE WEB
            PROPERTIES, CONTENT AND/OR USER CONTENT PROVIDED IN CONNECTION WITH THE WEB PROPERTIES OR FOR ANY
            OTHER CLAIM RELATED IN ANY WAY TO YOUR USE OF THE WEB PROPERTIES, CONTENT AND/OR ANY USER CONTENT
            PROVIDED THROUGH THE WEB PROPERTIES. ADDITIONALLY, WE SHALL NOT BE LIABLE FOR NEGATIVE REPERCUSSIONS
            TO ANY PARTY BASED ON THE USE OF OR INABILITY TO USE THE WEB PROPERTIES, INCLUDING, BUT NOT LIMITED TO,
            LOST GOODWILL OR LOST PROFITS. WE SHALL BE LIABLE ONLY TO THE EXTENT OF ACTUAL DAMAGES INCURRED BY YOU,
            NOT TO EXCEED THE AMOUNT YOU ACTUALLY PAID TO US FOR GOODS OR SERVICES IN THE PRIOR SIX (6) MONTHS,
            IF ANYTHING. WE ARE NOT LIABLE FOR ANY PERSONAL INJURY, INCLUDING DEATH, OR PROPERTY DAMAGE CAUSED BY
            YOUR USE OR MISUSE OF THE WEB PROPERTIES, CONTENT AND/OR USER CONTENT. REMEDIES UNDER THESE TERMS ARE
            EXCLUSIVE AND ARE LIMITED TO THOSE EXPRESSLY PROVIDED FOR IN THESE TERMS. BECAUSE SOME STATES OR
            JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL
            DAMAGES, IN SUCH STATES OR JURISDICTIONS OUR LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT
            PERMITTED BY APPLICABLE LAW.
            <br><br>

            <b>THIRD PARTY CONTENT AND THIRD PARTY APPLICATIONS</b>. We may provide hyperlinks to other websites
            maintained by third parties, or may provide third party content on the Web Properties by framing or other
            methods (collectively, “Third Party Content”). In addition, the Web Properties may include certain
            applications, features, programs and services provided by third parties (collectively, the “Third Party
            Applications”). We do not monitor Third Party Content or Third Party Applications and can make no guarantee
            as to the accuracy or completeness of such Third Party Content or Third Party Applications.  THE LINKS TO
            THIRD PARTY WEBSITES, ANY THIRD PARTY CONTENT, AND ANY THIRD PARTY APPLICATIONS MAY BE PROVIDED FOR YOUR
            CONVENIENCE AND INFORMATION ONLY. THE CONTENT ON ANY LINKED WEBSITE OR IN ANY THIRD PARTY APPLICATION IS
            NOT UNDER OUR CONTROL AND, JUST AS WITH THE WEB PROPERTIES, WE ARE NOT RESPONSIBLE FOR THE CONTENT OF LINKED
            WEBSITES AND/OR THIRD PARTY APPLICATIONS, INCLUDING ANY FURTHER LINKS CONTAINED IN A THIRD PARTY WEBSITE.
            WE MAKE NO REPRESENTATIONS OR WARRANTIES IN CONNECTION WITH ANY THIRD PARTY CONTENT OR THIRD PARTY
            APPLICATIONS, WHICH AT ALL TIMES AND IN EACH INSTANCE IS PROVIDED “AS IS.” IF YOU DECIDE TO ACCESS ANY
            OF THE THIRD PARTY WEBSITES LINKED TO THE WEB PROPERTIES, ANY THIRD PARTY CONTENT, AND/OR ANY THIRD
            PARTY APPLICATION, YOU DO SO ENTIRELY AT YOUR OWN RISK.
            <br><br>
            If a third party links or refers to the Web Properties, it is not necessarily an indication of an
            endorsement, authorization, sponsorship, affiliation, joint venture, or partnership by or with us. In most
            cases, we are not even aware that a third party has linked to or refers to the Web Properties.
            <br><br>
            <b>INTELLECTUAL PROPERTY</b>. The Content of the Web Properties is intellectual property owned, controlled
            and/or licensed by us. Specifically, we affirm that we have a valid license from the video content owners
            to use and display the video content, including TV and movie clips, on our Web Properties, and we do not
            claim ownership of such video content. All applicable intellectual property laws, including copyright laws,
            protect our rights in and to the Content. No portion of the Content and/or the User Content may be
            reproduced in any form or by any means, except as provided in Section 2 (Web Properties Use and Content)
            and elsewhere in these Terms.
            <br><br>
            We are the copyright owner or authorized licensee of all trademarks, service marks, and logos used and
            displayed on the Web Properties. All trademarks and service marks of CIZO, or our subsidiaries or affiliates,
            that may be referred to on the Web Properties are the property of CIZO, or one of our subsidiaries or
            affiliates. Other parties’ trademarks and service marks that may be referred to on the Web Properties are
            the property of their respective owners. Nothing on the Web Properties should be construed as granting,
            by implication, estoppel, or otherwise, any license or right to use any of CIZO’s, or our subsidiaries’
            or affiliates’, trademarks, service marks, or copyrights without our prior written permission.
            We aggressively enforce our intellectual property rights. Neither the name of CIZO, our subsidiaries
            or affiliates, nor any of our other trademarks, service marks, or copyrighted materials may be used in
            any way, including in any advertising, hyperlink, publicity, or promotional materials of any kind,
            whether relating to the Web Properties or otherwise, without our prior, written permission, except
            that a third party website that desires to link to the Web Properties and that complies with the
            requirements of Section 11 (Third Party Content and Third Party Applications) above may use the name
            “CIZO” or the title of any Content in or as part of that link.
            <br><br>
            <b>COPYRIGHT COMPLAINTS</b>.  We own, protect and enforce copyright and other rights in our own intellectual
            property, and respect the intellectual property rights of others. Materials may be made available on or
            through the Web Properties by third parties not within our control, for example, by users who post User
            Content on the Web Properties. It is our policy not to permit materials known by us to be infringing to
            remain on or available through the Web Properties. Please notify us promptly if you believe that any
            materials on or available through the Web Properties infringe on your intellectual property rights or the
            intellectual property rights of anyone else. Once we receive proper notice of claimed infringement under
            the Digital Millennium Copyright Act (the “DMCA”), we will respond promptly to remove the material claimed
            to be infringing and will follow the procedures specified in the DMCA to resolve the claim between the
            notifying party and the alleged infringer who provided the content at issue. When notifying us of potential
            infringement, you must include the following:
            <ul>
                <li>
                    identification of the copyrighted work(s) claimed to have been infringed. If multiple copyrighted
                    works, then a representative list of such works on the Web Properties;
                </li>
                <li>
                    identification of the supposedly infringing material that is to be removed;
                </li>
                <li>
                    information reasonably sufficient to permit us to locate the material on the Web Properties;
                </li>
                <li>
                    contact information reasonably sufficient to permit us to contact the complaining party, such as
                    an address, telephone number, or email address;
                </li>
                <li>
                    a statement that the complaining party has a good faith belief that use of the material is in fact
                    infringing and/or not authorized by the copyright owner, its agent, or the law;
                </li>
                <li>
                    a statement that, under penalty of perjury, the information in the notification is accurate and
                    where relevant that the complaining party is authorized to act on behalf of the copyright owner; and
                </li>
                <li>
                    the signature, physical or electronic, of the copyright owner or a person authorized to act on
                    his or her behalf.
                </li>
            </ul>

            A provider of content subject to a claim of infringement may make a counter notification. To file a counter
            notification with us, please provide the DMCA Agent a written communication containing the following:
            <ul>
                <li>
                    identification of the supposedly infringing material that is to be removed;
                </li>
                <li>
                    a statement that, under penalty of perjury, you have a good faith belief that the material was
                    removed or disabled as a result of mistake or misidentification of the material to be removed
                    or disabled;
                </li>
                <li>
                    your name, address, and telephone number, and a statement that you consent to the jurisdiction of
                    the Federal District Court for the judicial district in which your postal address is located,
                    and that you will accept service of process from the party who submitted the infringement
                    notification or his, her, or its principal or agent; and
                </li>
                <li>the signature, physical or electronic, of you or a person authorized to act on your behalf.</li>
            </ul>

            We will promptly provide the party that provided the notice of claimed infringement with a copy of the
            counter notification, and inform the complaining party that we restore the removed or disabled content
            in ten (10) business days. If we do not receive notice that a lawsuit has been filed within ten (10)
            business days after we provide notice of the counter-notification, we will restore the removed or
            disabled materials. Until that time, your materials will remain removed or disabled.
            <br><br>
            Notice of alleged infringement must be sent by electronic mail to our DMCA Agent at app@cizo.com or by
            certified mail and marked “Copyright Infringement” to Iat Wong, Attn: DMCA AGENT.
            <br><br>
            Before filing such a notification, make a careful determination as to whether or not the use of the material
            at issue is or may be protected by the “fair use” doctrine. You could potentially be held liable for costs
            and attorneys’ fees should you file a takedown notice where there is no infringing use. If you are unsure
            whether there is infringement, it may be advisable to seek legal counsel.
            <br><br>
            <b>TERMINATION OF SERVICE</b>. We may terminate your right to access secured portions of the Web Properties
            at any time, without notice, for conduct that we believe violates these Terms and/or is harmful to other
            users of the Web Properties, to us, to our partners, to the contributors, to the business of our Internet
            service provider, or to other information providers.
            <br><br>
            <b>ADDITIONAL REMEDIES</b>.  You acknowledge that your conduct that is inconsistent with the provisions
            of these Terms may cause us irreparable damage for which remedies other than monetary relief may be
            inadequate.  In such instances, you agree that we may seek injunctive or other equitable relief seeking
            to restrain such conduct without the necessity of proving actual harm or posting a bond.
            <br><br>
            <b>GOVERNING LAW AND JURISDICTION</b>. You agree that all matters relating to your access to, or use of,
            this website and our mobile application shall be governed by the laws of the State of Delaware. You agree
            and hereby submit to the exclusive personal jurisdiction and venue of the state and federal courts in
            Delaware, with respect to such matters.
            <br><br>
            <b>LOCAL LAWS</b>.  We make no representation that Content or materials on the Web Properties are
            appropriate or available for use in jurisdictions outside the United States.  Access to the Web Properties
            from jurisdictions where such access is illegal is prohibited.  If you choose to access the Web Properties
            from other jurisdictions, you do so at your own initiative and are responsible for compliance with
            applicable local laws.
            <br><br>
            <b>EXPORT RESTRICTIONS</b>.  Any software and all underlying information and technology downloaded or
            viewed from any Web Property or in connection with the services (collectively, the “Software or Technical
            Data”) by you may be subject to U.S. export controls, including the Export Administration Act (50 U.S.C.
            Appx. §§ 2401 et seq.) and the Export Administration Regulations (50 C.F.R. Parts 730-774), and may be
            subject to export or import regulations in other countries.  You are solely responsible for complying
            with all trade regulations and laws, both foreign and domestic, in your use and viewing of the Web
            Properties, the Content, the User Content, and any of our services, including, but not limited to,
            the Software or Technical Data.  Except as authorized by law, you agree and warrant not to export
            or re-export the Software or Technical Data to any county, or to any person, entity, or end-user
            subject to U.S. export controls, including, but not limited to, persons or entities listed on the U.S.
            Department of Commerce Bureau of Export Administration’s Denied Parties List and the U.S. Department of
            Treasury’s Specially Designated Nationals.  You further represent and warrant that no U.S. federal
            agency has suspended, revoked, or denied your export privileges.
            <br><br>
            <b>PROVISIONS RELATING TO APPLE</b>.  Although you can download the App through the Apple Store App and
            use the App on Apple iPhones, iPods, iPads or other Apple devices, Apple is not responsible for:
            (1) the content of the App; (2) providing maintenance or support services for the App;
            (3) any product warranties, whether express or implied by law, or other warranty obligations;
            (4) any claims, including product liability claims, losses, liabilities, damages, cost,
            or expenses attributable to any failure of the App to conform to any warranty or failure to conform
            to any applicable legal or regulatory requirement, or arising out of consumer protection or other
            similar legislation; and (5) the investigation, defense, settlement and discharge of any intellectual
            property claim brought by a third party against you or CIZO.
            <br><br>
            By agreeing to these Terms, you acknowledge and agree that you are only using the App on an Apple device
            that you own or control, and you are using it as permitted by the Usage Rules set forth in the App Store
            Terms of Service.  You further acknowledge and agree that Apple, and its subsidiaries, will have the right
            (and will be deemed to have accepted the right) to enforce these Terms as a third party beneficiary thereof.
            You represent and warrant to Apple that (i) you are not located in a country that is subject to a
            U.S. Government embargo or that is designated as a “terrorist supporting country”; and (ii) you are not
            listed on any U.S. Government list of prohibited or restricted parties.

            <b>CUSTOMER COMMENTS</b>. By submitting comments, information or feedback to us through email and/or the
            Web Properties, you agree that the information submitted will be subject to our Privacy Notice
            located at <a ui-sref="privacy">Privacy Notice</a>.
            <br><br>
            <div class="contact-info">
                <span><b>Your Consent To This Agreement</b></span>
                <br>
                <span>
                    By accessing and using the Web Properties, you consent to and agree to be bound by these Terms.
                    If we decide to change these Terms or some part of them, we will make an effort to post those changes
                    on this web page and on our App so that you will always be able to understand and agree to the terms
                    and conditions governing your use of the Web Properties.  Your use of the Web Properties, including,
                    but not limited to, the App, following your acceptance of any amendment of these Terms will signify
                    your assent to and acceptance of its revised terms for all previously collected information and
                    information collected from you in the future. If you have additional questions or comments of any
                    kind, or if you see anything on the Web Properties that you think is inappropriate, please let us
                    know by sending your comments or requests to:
                </span>


                <span>CIZO, INC.</span>
                <span>1617 Broadway, Mezz. A</span>
                <span>Santa Monica, CA, 90404</span>
                <span>Phone: (310) 210-4820</span>
                <span>app@cizo.com</span>
                <br><br>
                <span>Copyright © 2016.  CIZO, INC.  All Rights Reserved.</span>
                <br><br>
                <span>Effective as of: March 16, 2016</span>
                <span>Last updated: March 16, 2016</span>
            </div>

        </div>

        <button class="privacy-form_sign-up" ng-click="closeView()">Confirm</button>

    </div>

    <div class="icon-close privacy-form_close" ng-click="closeView()"></div>
</form>