<form>
    <div class="privacy-form">
        <div class="privacy-form_caption">
            Terms of usage
        </div>

        <div class="privacy-form_text">
            Please read the following Terms of&nbsp;Use (these &ldquo;<u>Terms</u>&rdquo;) carefully before using the CIZO, INC. (&ldquo;<u>CIZO</u>&rdquo;, &ldquo;<u>we</u>&rdquo;,
            &ldquo;<u>our</u>&rdquo;, or&nbsp;&ldquo;<u>us</u>&rdquo;) website, located at&nbsp;www.cizo.com, or&nbsp;participating in&nbsp;any online features, services and/or programs
            offered by&nbsp;us, including, but not limited&nbsp;to, our App, as&nbsp;defined herein (each, a&nbsp;&ldquo;Web Property&rdquo; and collectively, the
            &ldquo;<u>Web Properties</u>&rdquo;). These Terms are in&nbsp;effect for all of&nbsp;our Web Properties, including use of&nbsp;the CIZO mobile
            application (the &ldquo;<u>App</u>&rdquo;).
            <br><br>
            These Terms are not applicable to&nbsp;any other web page operated and/or owned by&nbsp;any entity other than CIZO,
            including, but not limited&nbsp;to, any website, mobile application, blog, forum, or&nbsp;other material operated by&nbsp;any third
            party identified on&nbsp;the Web Properties. When visiting these third-party websites, you should refer to&nbsp;the terms and
            conditions in&nbsp;effect for the applicable owner.
            <br><br>
            <b>PLEASE READ THESE TERMS CAREFULLY, WHICH INCLUDE IMPORTANT INFORMATION
            ABOUT YOUR LEGAL RIGHTS, REMEDIES, AND OBLIGATIONS. BY&nbsp;ACCESSING OR&nbsp;USING THE
            WEB PROPERTIES, YOU ARE ENTERING INTO A&nbsp;LEGAL CONTRACT WITH CIZO REGARDING
            YOUR USE OF&nbsp;THE WEB PROPERTIES. BY&nbsp;ACCESSING OR&nbsp;USING THE WEB PROPERTIES, YOU
            AGREE TO&nbsp;BE&nbsp;BOUND BY&nbsp;THESE TERMS AND ALL&nbsp;ADDITIONAL TERMS INCORPORATED BY
            REFERENCE. IF&nbsp;YOU DO&nbsp;NOT AGREE TO&nbsp;ANY PORTION OF&nbsp;THESE TERMS, YOU SHOULD&nbsp;NOT
            ACCESS OR&nbsp;OTHERWISE USE THE WEB PROPERTIES.</b>
            <br><br>
            <b>1. INFORMATION ONLY</b>. The Web Properties are provided to&nbsp;you as&nbsp;a&nbsp;convenience, for editorial
            purposes, and for your information only. By&nbsp;merely providing access to&nbsp;the Web Properties, we&nbsp;do&nbsp;not warrant or
            represent that: (a) any materials, documents, images, graphics, logos, design, audio, video, TV&nbsp;clips and trailers,
            movie clips and trailers, and any other information provided from or&nbsp;on&nbsp;the Web Properties (collectively, the
            &ldquo;<u>Content</u>&rdquo;) is&nbsp;accurate or&nbsp;complete; (b) the Content is&nbsp;up-to-date or&nbsp;current; &copy;&nbsp;we&nbsp;have any obligation to&nbsp;update any
            Content; (d) the Content is&nbsp;free from technical inaccuracies or&nbsp;programming or&nbsp;typographical errors; (e) the Content
            is&nbsp;free from changes caused by&nbsp;a&nbsp;third party; (f) your access to&nbsp;the Web Properties will be&nbsp;free from interruptions,
            errors, computer viruses or&nbsp;other harmful components; (g) any information obtained in&nbsp;response to&nbsp;questions asked
            through the Web Properties is&nbsp;accurate or&nbsp;complete; and/or (h) the Content is&nbsp;non-infringing of&nbsp;any third party&rsquo;s
            intellectual property rights.
            <br><br>
            <b>2. WEB PROPERTIES USE AND CONTENT</b>. You may view, copy or&nbsp;print a&nbsp;single copy of&nbsp;any page
            from the Web Properties for personal, non-commercial purposes if&nbsp;you do&nbsp;not remove, modify, or&nbsp;alter any
            copyright and proprietary rights notices that may be&nbsp;present. You may not otherwise use, modify, copy, print,
            display, distribute, publish, or&nbsp;sell any information from the Web Properties without our express, prior, written
            consent. <b>YOU MAY NOT USE ANY WEB PROPERTY FOR ANY COMMERCIAL USE.</b> Any special rules
            for the software, audio files, video files, downloads, and other items accessible through the Web Properties may be
            included elsewhere in&nbsp;the Web Properties and are incorporated into these Terms by&nbsp;reference. You agree that you
            will not access the Content through any technology or&nbsp;means other than through the video playback pages of&nbsp;the
            Web Properties or&nbsp;other explicitly authorized means CIZO may designate.
            <br><br>
            <b>3. UPDATES</b>. We&nbsp;may make changes to&nbsp;the Web Properties, the Content, the User Content and/or these
            Terms, and/or stop providing any of&nbsp;the Web Properties and/or the Content, at&nbsp;any time and without further notice to
            you. We&nbsp;will make an&nbsp;effort to&nbsp;update this web page with any changes to&nbsp;these Terms and you are encouraged to
            review these Terms frequently (the date of&nbsp;the most recent revision to&nbsp;these Terms appears at&nbsp;the end of&nbsp;these
            Terms).
            <br><br>
            <b>4. PRIVACY</b>.
            We&nbsp;know that privacy is&nbsp;very important to&nbsp;you, and it&nbsp;is&nbsp;very important to&nbsp;us as&nbsp;well. By&nbsp;using
            the Web Properties, you consent to&nbsp;receive electronic communications from&nbsp;us unless you follow applicable opt-out
            procedures. We&nbsp;will communicate with you by&nbsp;email or&nbsp;by&nbsp;posting notices on&nbsp;our Web Properties. You agree that all
            agreements, notices, disclosures and other communications that we&nbsp;provide to&nbsp;you electronically satisfy any legal
            requirement that such communication be&nbsp;in&nbsp;writing. Personal data that you provide regarding yourself will be
            handled in&nbsp;accordance with our Privacy Notice located&nbsp;at <a ui-sref="privacy">Privacy Notice</a>.
            <br><br>
            <b>5. USER ACCOUNT, PASSWORD AND SECURITY</b>. To&nbsp;the extent that a&nbsp;user account is&nbsp;created by&nbsp;you
            to&nbsp;access and use any Web Property (&ldquo;<u>User Account</u>&rdquo;), the following shall apply:

            <ul>
                <li>
                    (a) <b>USER ACCOUNT.</b> To&nbsp;access certain features, Content and/or User Content available through the
                    Web Properties, we&nbsp;recommend that you sign up&nbsp;by&nbsp;using your Facebook login account information. If&nbsp;you cannot
                    or&nbsp;do&nbsp;not want to&nbsp;use your Facebook credentials, we&nbsp;require that you sign up&nbsp;using your email address and a
                    password to&nbsp;create a&nbsp;User Account. We&nbsp;use reasonable precautions to&nbsp;protect the privacy of&nbsp;your password and User
                    Account information. You, however, are ultimately responsible for protecting your password and User Account
                    information from disclosure to&nbsp;third parties, and you are not permitted to&nbsp;circumvent the use of&nbsp;required encryption
                    technologies, if&nbsp;any. You agree&nbsp;to (i) immediately notify&nbsp;us of&nbsp;any unauthorized use of&nbsp;your password or&nbsp;User
                    Account, or&nbsp;any other breach of&nbsp;security; (ii) ensure that you exit from your User Account at&nbsp;the end of&nbsp;each session;
                    and (iii) use a&nbsp;security passcode to&nbsp;secure your device where the App may be&nbsp;installed or&nbsp;your User Account
                    information is&nbsp;stored. While we&nbsp;provide certain encryption technologies and use other reasonable precautions to
                    protect your confidential information and provide suitable security, we&nbsp;do&nbsp;not and cannot guarantee or&nbsp;warrant that
                    information transmitted through the Internet is&nbsp;secure, or&nbsp;that such transmissions are free from delay, interruption,
                    interception or&nbsp;error.
                </li>
                <li>
                    (b)	<b>ACCURATE INFORMATION.</b> In&nbsp;creating and using your User Account, you agree&nbsp;to: (i)
                    provide true, accurate, current, and complete information about yourself on&nbsp;any registration form required for the
                    Web Properties, including, but not limited&nbsp;to, your email address and age (such information being the &ldquo;<u>Registration
                    Data</u>&rdquo;); and (ii) maintain and promptly update the Registration Data to&nbsp;keep it&nbsp;true, accurate, current, and complete.
                    If&nbsp;you provide any information that is&nbsp;untrue, inaccurate, not current, or&nbsp;incomplete, or&nbsp;if&nbsp;we&nbsp;have reasonable
                    grounds to&nbsp;suspect that such information is&nbsp;untrue, inaccurate, not current, or&nbsp;incomplete, then we&nbsp;have the right to
                    suspend or&nbsp;terminate your User Account and refuse any and all current or&nbsp;future use of&nbsp;your User Account.
                </li>
                <li>
                    (c)	<b>NON-TRANSFERABILITY OF USER ACCOUNT.</b> User Accounts are non-transferable, and
                    all users are obligated to&nbsp;take preventative measures to&nbsp;prohibit unauthorized users from accessing the Web
                    Properties with his or&nbsp;her password. We&nbsp;are entitled to&nbsp;act on&nbsp;all instructions received by&nbsp;anyone using your User
                    Account. In&nbsp;the event that more than one User Account is&nbsp;assigned to&nbsp;the same individual, the duplicate account
                    will be&nbsp;cancelled.
                </li>
                <li>
                    (d)	<b>ACCOUNT DEACTIVATION.</b> We&nbsp;reserve the right to&nbsp;deactivate or&nbsp;cancel a&nbsp;User Account
                    and/or your access to&nbsp;the App in&nbsp;our sole discretion, including for the following reasons: (i) you request such
                    deactivation; (ii) you are deceased; (iii) you do&nbsp;not respond to&nbsp;repeated communication attempts regarding the status
                    of&nbsp;your User Account or&nbsp;use of&nbsp;the App; or&nbsp;(iv) you reside in&nbsp;or&nbsp;relocate to&nbsp;a&nbsp;country where use of&nbsp;a&nbsp;User Account or
                    the App is&nbsp;prohibited under applicable law.
                </li>
                <li>
                    (e)	<b>DATA RETENTION POLICY, MANAGING YOUR INFORMATION.</b>  We&nbsp;will retain User
                    Account information and some automatically collected information (including, but not limited&nbsp;to, the type of&nbsp;mobile
                    device you use, information about the way you use the App, and Browsing Information) for as&nbsp;long as&nbsp;you use the
                    App and for a&nbsp;reasonable time thereafter, and we&nbsp;may store it&nbsp;in&nbsp;the aggregate. If&nbsp;you would like&nbsp;us to&nbsp;delete your
                    User Account information that you have provided via the App, please contact&nbsp;us at&nbsp;app@cizo.com and we&nbsp;will
                    respond in&nbsp;a&nbsp;reasonable time. Information that you enter into the App or&nbsp;Web Properties will generally remain there
                    until you use it&nbsp;or&nbsp;we&nbsp;receive another legitimate request to&nbsp;remove&nbsp;it.
                </li>
            </ul>
            <br><br>
            <b>6. USER CONTENT</b>.  The Web Properties may in&nbsp;the future permit the submission of&nbsp;various forms of
            content submitted by&nbsp;you and other users, such as&nbsp;materials, statements, reviews, ratings, opinions, personal
            accounts, documents, images, graphics, logos, designs, videos, text files, audio files, and comments (collectively,
            &ldquo;<u>User Content</u>&rdquo;) and the hosting, sharing, downloading, publishing and/or republishing of&nbsp;such User Content. WE
            DO&nbsp;NOT GUARANTEE ANY CONFIDENTIALITY WITH RESPECT TO&nbsp;ANY USER CONTENT. TO
            PROTECT YOUR PRIVACY AND THE PRIVACY OF&nbsp;OTHERS, YOU AGREE THAT YOU WILL&nbsp;NOT
            PROVIDE ANY USER CONTENT THAT CONTAINS PERSONALLY IDENTIFIABLE INFORMATION
            (SUCH AS&nbsp;NAME, PHONE NUMBER, EMAIL&nbsp;OR MAILING ADDRESS, SOCIAL SECURITY NUMBER,
            ETC.) BELONGING TO&nbsp;YOU OR&nbsp;ANYONE ELSE. UPLOADING IMAGES OR&nbsp;VIDEOS OF&nbsp;OTHER PEOPLE
            WITHOUT THEIR PERMISSION IS&nbsp;STRICTLY PROHIBITED.
            <br>
            You shall be&nbsp;solely responsible for your User Content, and the consequences of&nbsp;posting or&nbsp;publishing&nbsp;it. We&nbsp;do&nbsp;not
            endorse any User Content or&nbsp;any opinion, recommendation, or&nbsp;advice expressed therein, and we&nbsp;expressly disclaim
            any and all liability in&nbsp;connection with User Content. You acknowledge that CIZO reserves the right to&nbsp;pre-screen
            User Content and we&nbsp;have the right (but not the obligation) in&nbsp;our sole discretion to&nbsp;refuse, move, and/or remove
            User Content that is&nbsp;available on&nbsp;or&nbsp;through the Web Properties.
            <br><br>
            <b>7. OBJECTIONABLE MATERIAL</b>. You acknowledge that in&nbsp;using the Web Properties and accessing the
            Content and/or User Content, you may encounter material that you deem to&nbsp;be&nbsp;disturbing, offensive or
            objectionable. You agree to&nbsp;use the Web Properties at&nbsp;your sole risk and that we&nbsp;shall have no&nbsp;liability to&nbsp;you for
            material that may be&nbsp;disturbing, objectionable or&nbsp;offensive to&nbsp;you.
            <br><br>
            <b>8. NOT INTENDED FOR CHILDREN</b>.  We&nbsp;do&nbsp;not collect Personal Information from any person that we
            know to&nbsp;be&nbsp;under the age of&nbsp;thirteen (13). Specifically, the Web Properties are not intended or&nbsp;designed to&nbsp;attract
            children under the age of&nbsp;thirteen (13). To&nbsp;access and view certain Content for mature viewers, you will need to
            affirm that you are more than eighteen (18) years of&nbsp;age, or&nbsp;an&nbsp;emancipated minor, or&nbsp;possess legal parental or
            guardian consent, and are fully able and competent to&nbsp;enter into the terms, conditions, obligations, affirmations,
            representations, and warranties set forth in&nbsp;these Terms, and to&nbsp;abide by&nbsp;and comply with these Terms. In&nbsp;any case,
            you affirm that you are over the age of&nbsp;thirteen (13), as&nbsp;<b>THE WEB PROPERTIES ARE NOT INTENDED FOR
            CHILDREN UNDER THIRTEEN (13) WHO ARE UNACCOMPANIED BY&nbsp;THEIR PARENTS OR&nbsp;LEGAL
            GUARDIANS</b>.
            <br><br>
            <b>9. DISCLAIMERS</b>.
            <ul>
                <li>
                    (a)	<b>NO WARRANTIES FOR WEB PROPERTIES.</b> When using the Web Properties, information
                    will be&nbsp;transmitted in&nbsp;such a&nbsp;way that may be&nbsp;beyond our control. As&nbsp;such, we&nbsp;make no&nbsp;warranty concerning the
                    delay, failure, interruption, or&nbsp;corruption of&nbsp;any data, the Content, the User Content, or&nbsp;other information transmitted
                    in&nbsp;connection with the use of&nbsp;the Web Properties. YOU EXPRESSLY AGREE THAT YOUR USE OF&nbsp;THE WEB
                    PROPERTIES IS&nbsp;AT&nbsp;YOUR SOLE RISK. THE WEB PROPERTIES, THE CONTENT, AND THE USER
                    CONTENT ARE PROVIDED &ldquo;AS&nbsp;IS&rdquo; AND &ldquo;AS&nbsp;AVAILABLE&rdquo; FOR YOUR USE, WITHOUT WARRANTIES
                    OF&nbsp;ANY KIND, EITHER EXPRESS OR&nbsp;IMPLIED, UNLESS SUCH WARRANTIES ARE LEGALLY
                    INCAPABLE OF&nbsp;EXCLUSION. WE&nbsp;MAKE NO&nbsp;REPRESENTATIONS OR&nbsp;WARRANTIES THAT THE WEB
                    PROPERTIES, THE CONTENT, THE USER CONTENT OR&nbsp;ANY SERVICES OFFERED IN&nbsp;CONNECTION
                    WITH THE WEB PROPERTIES, INCLUDING, BUT NOT LIMITED TO, THE APP, ARE OR&nbsp;WILL&nbsp;REMAIN
                    UNINTERRUPTED OR&nbsp;ERROR-FREE, THAT DEFECTS WILL&nbsp;BE CORRECTED, OR&nbsp;THAT THE WEB
                    PAGES ON&nbsp;OR&nbsp;THROUGH THE WEB PROPERTIES, OR&nbsp;THE SERVERS USED IN&nbsp;CONNECTION WITH
                    THE WEB PROPERTIES, ARE OR&nbsp;WILL&nbsp;REMAIN FREE FROM ANY VIRUSES, WORMS, TIME BOMBS,
                    DROP DEAD DEVICES, TROJAN HORSES, OR&nbsp;OTHER HARMFUL COMPONENTS. WE&nbsp;DO&nbsp;NOT
                    GUARANTEE THAT YOU WILL&nbsp;BE ABLE TO&nbsp;ACCESS OR&nbsp;USE THE WEB PROPERTIES AT&nbsp;TIMES OR
                    LOCATIONS OF&nbsp;YOUR CHOOSING, OR&nbsp;THAT WE&nbsp;WILL&nbsp;HAVE ADEQUATE CAPACITY FOR THE WEB
                    PROPERTIES AS&nbsp;A&nbsp;WHOLE OR&nbsp;IN&nbsp;ANY SPECIFIC&nbsp;GEOGRAPHIC&nbsp;AREA. WE&nbsp;MAKE NO
                    REPRESENTATION OR&nbsp;WARRANTY REGARDING GOVERNMENT COMPLIANCE OF&nbsp;ANY SOFTWARE
                    USED IN&nbsp;RUNNING THE WEB PROPERTIES.
                </li>
                <li>
                    (b)	<b>INDEMNIFICATION.</b> You agree to&nbsp;defend, indemnify, and hold harmless CIZO and our
                    directors, officers, employees, and agents from and against any and all claims, demands, suits, proceedings,
                    liabilities, judgments, losses, damages, expenses, and costs (including, but not limited&nbsp;to, reasonable attorneys&rsquo; fees)
                    assessed or&nbsp;incurred by&nbsp;us, directly or&nbsp;indirectly, with respect to&nbsp;or&nbsp;arising out&nbsp;of: (i) your failure to&nbsp;comply with
                    these Terms; (ii) your breach of&nbsp;your obligations under these Terms; and/or (iii) your use of&nbsp;the rights granted
                    hereunder, including, but not limited&nbsp;to, any claims made by&nbsp;any third parties.
                </li>
            </ul>

            <b>10. LIMITATION OF LIABILITY</b>.  IN&nbsp;NO&nbsp;EVENT WILL&nbsp;WE BE&nbsp;LIABLE FOR ANY DIRECT,
            INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR&nbsp;CONSEQUENTIAL DAMAGES
            ARISING FROM YOUR USE OF&nbsp;OR&nbsp;INABILITY TO&nbsp;USE THE WEB PROPERTIES, CONTENT AND/OR
            USER CONTENT PROVIDED IN&nbsp;CONNECTION WITH THE WEB PROPERTIES OR&nbsp;FOR ANY OTHER
            CLAIM&nbsp;RELATED IN&nbsp;ANY WAY TO&nbsp;YOUR USE OF&nbsp;THE WEB PROPERTIES, CONTENT AND/OR ANY
            USER CONTENT PROVIDED THROUGH THE WEB PROPERTIES. ADDITIONALLY, WE&nbsp;SHALL&nbsp;NOT BE
            LIABLE FOR NEGATIVE REPERCUSSIONS TO&nbsp;ANY PARTY BASED ON&nbsp;THE USE OF&nbsp;OR&nbsp;INABILITY TO
            USE THE WEB PROPERTIES, INCLUDING, BUT NOT LIMITED TO, LOST GOODWILL&nbsp;OR LOST
            PROFITS. WE&nbsp;SHALL&nbsp;BE LIABLE ONLY TO&nbsp;THE EXTENT OF&nbsp;ACTUAL DAMAGES INCURRED BY&nbsp;YOU,
            NOT TO&nbsp;EXCEED THE AMOUNT YOU ACTUALLY PAID&nbsp;TO US&nbsp;FOR GOODS OR&nbsp;SERVICES IN&nbsp;THE
            PRIOR SIX (6) MONTHS, IF&nbsp;ANYTHING. WE&nbsp;ARE NOT LIABLE FOR ANY PERSONAL INJURY,
            INCLUDING DEATH, OR&nbsp;PROPERTY DAMAGE CAUSED BY&nbsp;YOUR USE OR&nbsp;MISUSE OF&nbsp;THE WEB
            PROPERTIES, CONTENT AND/OR USER CONTENT. REMEDIES UNDER THESE TERMS ARE
            EXCLUSIVE AND ARE LIMITED TO&nbsp;THOSE EXPRESSLY PROVIDED FOR IN&nbsp;THESE TERMS. BECAUSE
            SOME STATES OR&nbsp;JURISDICTIONS DO&nbsp;NOT ALLOW THE EXCLUSION OR&nbsp;LIMITATION OF&nbsp;LIABILITY
            FOR CONSEQUENTIAL OR&nbsp;INCIDENTAL DAMAGES, IN&nbsp;SUCH STATES OR&nbsp;JURISDICTIONS OUR
            LIABILITY WILL&nbsp;BE LIMITED TO&nbsp;THE GREATEST EXTENT PERMITTED BY&nbsp;APPLICABLE LAW.
            <br><br>

            <b>11. THIRD PARTY CONTENT AND THIRD PARTY APPLICATIONS</b>. We&nbsp;may provide hyperlinks to
            other websites maintained by&nbsp;third parties, or&nbsp;may provide third party content on&nbsp;the Web Properties by&nbsp;framing or
            other methods (collectively, &ldquo;<u>Third Party Content</u>&rdquo;). In&nbsp;addition, the Web Properties may include certain
            applications, features, programs and services provided by&nbsp;third parties (collectively, the &ldquo;<u>Third Party Applications</u>&rdquo;).
            We&nbsp;do&nbsp;not monitor Third Party Content or&nbsp;Third Party Applications and can make no&nbsp;guarantee as&nbsp;to&nbsp;the accuracy or
            completeness of&nbsp;such Third Party Content or&nbsp;Third Party Applications. THE LINKS TO&nbsp;THIRD PARTY
            WEBSITES, ANY THIRD PARTY CONTENT, AND ANY THIRD PARTY APPLICATIONS MAY BE
            PROVIDED FOR YOUR CONVENIENCE AND INFORMATION ONLY. THE CONTENT ON&nbsp;ANY LINKED
            WEBSITE OR&nbsp;IN&nbsp;ANY THIRD PARTY APPLICATION IS&nbsp;NOT UNDER OUR CONTROL AND, JUST AS
            WITH THE WEB PROPERTIES, WE&nbsp;ARE NOT RESPONSIBLE FOR THE CONTENT OF&nbsp;LINKED
            WEBSITES AND/OR THIRD PARTY APPLICATIONS, INCLUDING ANY FURTHER LINKS CONTAINED
            IN&nbsp;A&nbsp;THIRD PARTY WEBSITE. WE&nbsp;MAKE NO&nbsp;REPRESENTATIONS OR&nbsp;WARRANTIES IN&nbsp;CONNECTION
            WITH ANY THIRD PARTY CONTENT OR&nbsp;THIRD PARTY APPLICATIONS, WHICH AT&nbsp;ALL&nbsp;TIMES AND
            IN&nbsp;EACH INSTANCE IS&nbsp;PROVIDED &ldquo;AS&nbsp;IS.&rdquo; IF&nbsp;YOU DECIDE TO&nbsp;ACCESS ANY OF&nbsp;THE THIRD PARTY
            WEBSITES LINKED TO&nbsp;THE WEB PROPERTIES, ANY THIRD PARTY CONTENT, AND/OR ANY THIRD
            PARTY APPLICATION, YOU DO&nbsp;SO&nbsp;ENTIRELY AT&nbsp;YOUR OWN RISK.
            <br><br>
            If&nbsp;a&nbsp;third party links or&nbsp;refers to&nbsp;the Web Properties, it&nbsp;is&nbsp;not necessarily an&nbsp;indication of&nbsp;an&nbsp;endorsement,
            authorization, sponsorship, affiliation, joint venture, or&nbsp;partnership by&nbsp;or&nbsp;with&nbsp;us. In&nbsp;most cases, we&nbsp;are not even
            aware that a&nbsp;third party has linked to&nbsp;or&nbsp;refers to&nbsp;the Web Properties.
            <br><br>
            <b>12. INTELLECTUAL PROPERTY</b>. The Content of&nbsp;the Web Properties is&nbsp;intellectual property owned,
            controlled and/or licensed by&nbsp;us, or&nbsp;intellectual property that we&nbsp;are legally permitted to&nbsp;access and use. Specifically,
            we&nbsp;affirm that we&nbsp;have a&nbsp;valid license from the video content owners to&nbsp;use and display the video content, including
            TV&nbsp;and movie clips, on&nbsp;our Web Properties, or&nbsp;we&nbsp;have a&nbsp;legal right to&nbsp;access and use such video content from
            open-access or&nbsp;open-source content providers, and we&nbsp;do&nbsp;not claim ownership of&nbsp;such video content. All applicable
            intellectual property laws, including copyright laws, protect our rights in&nbsp;and to&nbsp;the Content. No&nbsp;portion of&nbsp;the
            Content and/or the User Content may be&nbsp;reproduced in&nbsp;any form or&nbsp;by&nbsp;any means, except as&nbsp;provided in&nbsp;Section&nbsp;2
            (Web Properties Use and Content) and elsewhere in&nbsp;these Terms.
            <br><br>
            We&nbsp;are the copyright owner or&nbsp;authorized licensee&nbsp;of, or&nbsp;are otherwise permitted to&nbsp;use, all trademarks, service
            marks, and logos used and displayed on&nbsp;the Web Properties. All trademarks and service marks of&nbsp;CIZO, or&nbsp;our
            subsidiaries or&nbsp;affiliates, that may be&nbsp;referred to&nbsp;on&nbsp;the Web Properties are the property of&nbsp;CIZO, or&nbsp;one of&nbsp;our
            subsidiaries or&nbsp;affiliates. Other parties&rsquo; trademarks and service marks that may be&nbsp;referred to&nbsp;on&nbsp;the Web Properties
            are the property of&nbsp;their respective owners. Nothing on&nbsp;the Web Properties should be&nbsp;construed as&nbsp;granting, by
            implication, estoppel, or&nbsp;otherwise, any license or&nbsp;right to&nbsp;use any of&nbsp;CIZO&rsquo;s, or&nbsp;our subsidiaries&rsquo; or&nbsp;affiliates&rsquo;,
            trademarks, service marks, or&nbsp;copyrights without our prior written permission. We&nbsp;aggressively enforce our
            intellectual property rights. Neither the name of&nbsp;CIZO, our subsidiaries or&nbsp;affiliates, nor any of&nbsp;our other trademarks,
            service marks, or&nbsp;copyrighted materials may be&nbsp;used in&nbsp;any way, including in&nbsp;any advertising, hyperlink, publicity,
            or&nbsp;promotional materials of&nbsp;any kind, whether relating to&nbsp;the Web Properties or&nbsp;otherwise, without our prior, written
            permission, except that a&nbsp;third party website that desires to&nbsp;link to&nbsp;the Web Properties and that complies with the
            requirements of&nbsp;Section&nbsp;11 (Third Party Content and Third Party Applications) above may use the name &ldquo;CIZO&rdquo; or
            the title of&nbsp;any Content in&nbsp;or&nbsp;as&nbsp;part of&nbsp;that link.
            <br><br>
            <b>13. COPYRIGHT COMPLAINTS</b>.  We&nbsp;own, protect and enforce copyright and other rights in&nbsp;our own
            intellectual property, and respect the intellectual property rights of&nbsp;others. Materials may be&nbsp;made available on&nbsp;or
            through the Web Properties by&nbsp;third parties not within our control, for example, by&nbsp;users who post User Content on
            the Web Properties. It&nbsp;is&nbsp;our policy not to&nbsp;permit materials known by&nbsp;us to&nbsp;be&nbsp;infringing to&nbsp;remain on&nbsp;or&nbsp;available
            through the Web Properties. Please notify&nbsp;us promptly if&nbsp;you believe that any materials on&nbsp;or&nbsp;available through the
            Web Properties infringe on&nbsp;your intellectual property rights or&nbsp;the intellectual property rights of&nbsp;anyone else. Once
            we&nbsp;receive proper notice of&nbsp;claimed infringement under the Digital Millennium Copyright Act (the &ldquo;<u>DMCA</u>&rdquo;), we
            will respond promptly to&nbsp;remove the material claimed to&nbsp;be&nbsp;infringing and will follow the procedures specified in
            the DMCA to&nbsp;resolve the claim between the notifying party and the alleged infringer who provided the content at
            issue. When notifying&nbsp;us of&nbsp;potential infringement, you must include the following:
            <ul>
                <li>
                    identification of&nbsp;the copyrighted work(s) claimed to&nbsp;have been infringed. If&nbsp;multiple copyrighted
                    works, then a&nbsp;representative list of&nbsp;such works on&nbsp;the Web Properties;
                </li>
                <li>
                    identification of&nbsp;the supposedly infringing material that is&nbsp;to&nbsp;be&nbsp;removed;
                </li>
                <li>
                    information reasonably sufficient to&nbsp;permit&nbsp;us to&nbsp;locate the material on&nbsp;the Web Properties;
                </li>
                <li>
                    contact information reasonably sufficient to&nbsp;permit&nbsp;us to&nbsp;contact the complaining party, such as&nbsp;an
                    address, telephone number, or&nbsp;email address;
                </li>
                <li>
                    a&nbsp;statement that the complaining party has a&nbsp;good faith belief that use of&nbsp;the material is&nbsp;in&nbsp;fact
                    infringing and/or not authorized by&nbsp;the copyright owner, its agent, or&nbsp;the law;
                </li>
                <li>
                    a&nbsp;statement that, under penalty of&nbsp;perjury, the information in&nbsp;the notification is&nbsp;accurate and where
                    relevant that the complaining party is&nbsp;authorized to&nbsp;act on&nbsp;behalf of&nbsp;the copyright owner; and
                </li>
                <li>
                    the signature, physical or&nbsp;electronic, of&nbsp;the copyright owner or&nbsp;a&nbsp;person authorized to&nbsp;act on&nbsp;his or
                    her behalf.
                </li>
            </ul>

            A&nbsp;provider of&nbsp;content subject to&nbsp;a&nbsp;claim of&nbsp;infringement may make a&nbsp;counter notification. To&nbsp;file a&nbsp;counter
            notification with&nbsp;us, please provide the DMCA Agent a&nbsp;written communication containing the following:
            <ul>
                <li>
                    identification of&nbsp;the supposedly infringing material that is&nbsp;to&nbsp;be&nbsp;removed;
                </li>
                <li>
                    a&nbsp;statement that, under penalty of&nbsp;perjury, you have a&nbsp;good faith belief that the material was
                    removed or&nbsp;disabled as&nbsp;a&nbsp;result of&nbsp;mistake or&nbsp;misidentification of&nbsp;the material to&nbsp;be&nbsp;removed or
                    disabled;
                </li>
                <li>
                    your name, address, and telephone number, and a&nbsp;statement that you consent to&nbsp;the jurisdiction of
                    the Federal District Court for the judicial district in&nbsp;which your postal address is&nbsp;located, and that
                    you will accept service of&nbsp;process from the party who submitted the infringement notification or
                    his, her, or&nbsp;its principal or&nbsp;agent; and
                </li>
                <li>the signature, physical or&nbsp;electronic, of&nbsp;you or&nbsp;a&nbsp;person authorized to&nbsp;act on&nbsp;your behalf</li>
            </ul>

            We&nbsp;will promptly provide the party that provided the notice of&nbsp;claimed infringement with a&nbsp;copy of&nbsp;the counter
            notification, and inform the complaining party that we&nbsp;restore the removed or&nbsp;disabled content within ten (10)
            business days. If&nbsp;we&nbsp;do&nbsp;not receive notice that a&nbsp;lawsuit has been filed within ten (10) business days after we&nbsp;provide
            notice of&nbsp;the counter-notification, we&nbsp;will restore the removed or&nbsp;disabled materials. Until that time, your materials
            will remain removed or&nbsp;disabled.
            <br><br>

            Notice of&nbsp;alleged infringement must be&nbsp;sent by&nbsp;electronic mail to&nbsp;our DMCA Agent at&nbsp;app@cizo.com or&nbsp;by&nbsp;certified
            mail and marked &ldquo;Copyright Infringement&rdquo; to&nbsp;Iat Wong, Attn: DMCA AGENT.
            <br><br>

            Before filing such a&nbsp;notification, make a&nbsp;careful determination as&nbsp;to&nbsp;whether or&nbsp;not the use of&nbsp;the material at&nbsp;issue is
            or&nbsp;may be&nbsp;protected by&nbsp;the &ldquo;fair use&rdquo; doctrine. You could potentially be&nbsp;held liable for costs and attorneys&rsquo; fees
            should you file a&nbsp;takedown notice where there is&nbsp;no&nbsp;infringing use. If&nbsp;you are unsure whether there is&nbsp;infringement,
            it&nbsp;may be&nbsp;advisable to&nbsp;seek legal counsel.
            <br><br>
            <b>14. TERMINATION OF SERVICE</b>. We&nbsp;may terminate your right to&nbsp;access secured portions of&nbsp;the Web
            Properties at&nbsp;any time, without notice, for conduct that we&nbsp;believe violates these Terms and/or is&nbsp;harmful to&nbsp;other
            users of&nbsp;the Web Properties, to&nbsp;us, to&nbsp;our partners, to&nbsp;the contributors, to&nbsp;the business of&nbsp;our Internet service
            provider, or&nbsp;to&nbsp;other information providers.
            <br><br>
            <b>15. ADDITIONAL REMEDIES</b>.  You acknowledge that your conduct that is&nbsp;inconsistent with the provisions
            of&nbsp;these Terms may cause&nbsp;us irreparable damage for which remedies other than monetary relief may be&nbsp;inadequate.
            In&nbsp;such instances, you agree that we&nbsp;may seek injunctive or&nbsp;other equitable relief seeking to&nbsp;restrain such conduct
            without the necessity of&nbsp;proving actual harm or&nbsp;posting a&nbsp;bond.
            <br><br>
            <b>16. GOVERNING LAW AND JURISDICTION</b>. You agree that all matters relating to&nbsp;your access&nbsp;to, or&nbsp;use
            of, this website and our mobile application shall be&nbsp;governed by&nbsp;the laws of&nbsp;the State of&nbsp;Delaware. You agree and
            hereby submit to&nbsp;the exclusive personal jurisdiction and venue of&nbsp;the state and federal courts in&nbsp;Delaware, with
            respect to&nbsp;such matters.
            <br><br>
            <b>17. LOCAL LAWS</b>.  We&nbsp;make no&nbsp;representation that Content or&nbsp;materials on&nbsp;the Web Properties are
            appropriate or&nbsp;available for use in&nbsp;jurisdictions outside the United States. Access to&nbsp;the Web Properties from
            jurisdictions where such access is&nbsp;illegal is&nbsp;prohibited. If&nbsp;you choose to&nbsp;access the Web Properties from other
            jurisdictions, you do&nbsp;so&nbsp;at&nbsp;your own initiative and are responsible for compliance with applicable local laws.
            <br><br>
            <b>18. EXPORT RESTRICTIONS</b>.  Any software and all underlying information and technology downloaded
            or&nbsp;viewed from any Web Property or&nbsp;in&nbsp;connection with the services (collectively, the &ldquo;<u>Software or&nbsp;Technical
            Data</u>&rdquo;) by&nbsp;you may be&nbsp;subject to&nbsp;U.S. export controls, including the Export Administration Act (50&nbsp;U.S.C. Appx. &sect;&sect;
            2401&nbsp;et seq.) and the Export Administration Regulations (50&nbsp;C.F.R. Parts 730-774), and may be&nbsp;subject to&nbsp;export or
            import regulations in&nbsp;other countries. You are solely responsible for complying with all trade regulations and laws,
            both foreign and domestic, in&nbsp;your use and viewing of&nbsp;the Web Properties, the Content, the User Content, and any of
            our services, including, but not limited&nbsp;to, the Software or&nbsp;Technical Data. Except as&nbsp;authorized by&nbsp;law, you agree
            and warrant not to&nbsp;export or&nbsp;re-export the Software or&nbsp;Technical Data to&nbsp;any county, or&nbsp;to&nbsp;any person, entity, or&nbsp;enduser
            subject to&nbsp;U.S. export controls, including, but not limited&nbsp;to, persons or&nbsp;entities listed on&nbsp;the U.S. Department of
            Commerce Bureau of&nbsp;Export Administration&rsquo;s Denied Parties List and the U.S. Department of&nbsp;Treasury&rsquo;s Specially
            Designated Nationals. You further represent and warrant that no&nbsp;U.S. federal agency has suspended, revoked, or
            denied your export privileges.
            <br><br>
            <b>19. PROVISIONS RELATING TO APPLE</b>.  Although you can download the App through the Apple Store
            App and use the App on&nbsp;Apple iPhones, iPods, iPads or&nbsp;other Apple devices, Apple is&nbsp;not responsible for: (1) the
            content of&nbsp;the App; (2) providing maintenance or&nbsp;support services for the App; (3) any product warranties, whether
            express or&nbsp;implied by&nbsp;law, or&nbsp;other warranty obligations; (4) any claims, including product liability claims, losses,
            liabilities, damages, cost, or&nbsp;expenses attributable to&nbsp;any failure of&nbsp;the App to&nbsp;conform to&nbsp;any warranty or&nbsp;failure to
            conform to&nbsp;any applicable legal or&nbsp;regulatory requirement, or&nbsp;arising out of&nbsp;consumer protection or&nbsp;other similar
            legislation; and (5) the investigation, defense, settlement and discharge of&nbsp;any intellectual property claim brought by
            a&nbsp;third party against you or&nbsp;CIZO.
            <br><br>
            By&nbsp;agreeing to&nbsp;these Terms, you acknowledge and agree that you are only using the App on&nbsp;an&nbsp;Apple device that
            you own or&nbsp;control, and you are using it&nbsp;as&nbsp;permitted by&nbsp;the Usage Rules set forth in&nbsp;the App Store Terms of
            Service. You further acknowledge and agree that Apple, and its subsidiaries, will have the right (and will be
            deemed to&nbsp;have accepted the right) to&nbsp;enforce these Terms as&nbsp;a&nbsp;third party beneficiary thereof. You represent and
            warrant to&nbsp;Apple that (i) you are not located in&nbsp;a&nbsp;country that is&nbsp;subject to&nbsp;a&nbsp;U.S. Government embargo or&nbsp;that is
            designated as&nbsp;a&nbsp;&ldquo;terrorist supporting country&rdquo;; and (ii) you are not listed on&nbsp;any U.S. Government list of&nbsp;prohibited
            or&nbsp;restricted parties.

            <b>20. CUSTOMER COMMENTS</b>.
            By&nbsp;submitting comments, information or&nbsp;feedback to&nbsp;us through email
            and/or the Web Properties, you agree that the information submitted will be&nbsp;subject to&nbsp;our
            Privacy Notice located&nbsp;at <a ui-sref="privacy">Privacy Notice</a>.
            <br><br>
            <div class="contact-info">
                <span><b>Your Consent To This Agreement</b></span>
                <br>
                <span>
                    By&nbsp;accessing and using the Web Properties, you consent to&nbsp;and agree to&nbsp;be&nbsp;bound by&nbsp;these Terms. If&nbsp;we
decide to&nbsp;change these Terms or&nbsp;some part of&nbsp;them, we&nbsp;will make an&nbsp;effort to&nbsp;post those changes on&nbsp;this web page
and on&nbsp;our App so&nbsp;that you will always be&nbsp;able to&nbsp;understand and agree to&nbsp;the terms and conditions governing your
use of&nbsp;the Web Properties. Your use of&nbsp;the Web Properties, including, but not limited&nbsp;to, the App, following your
acceptance of&nbsp;any amendment of&nbsp;these Terms will signify your assent to&nbsp;and acceptance of&nbsp;its revised terms for all
previously collected information and information collected from you in&nbsp;the future. If&nbsp;you have additional questions
or&nbsp;comments of&nbsp;any kind, or&nbsp;if&nbsp;you see anything on&nbsp;the Web Properties that you think is&nbsp;inappropriate, please let&nbsp;us
know by&nbsp;sending your comments or&nbsp;requests&nbsp;to:
                </span>


                <span>CIZO, INC.</span>
                <span>1617 Broadway, Mezz. A</span>
                <span>Santa Monica, CA, 90404</span>
                <span>Phone: (310) 210-4820</span>
                <span>app@cizo.com</span>
                <br><br>
                <span>Copyright © 2016.  CIZO, INC.  All Rights Reserved.</span>
                <br><br>
                <span>Effective as of: March 16, 2016</span>
                <span>Last updated: December 28, 2016</span>
            </div>

        </div>

        <button class="privacy-form_sign-up" ng-click="closeView()">Confirm</button>

    </div>

    <div class="icon-close privacy-form_close" ng-click="closeView()"></div>
</form>