<form class="contact">
    <div class="contact-form ">
        <div class="contact-form_caption">
            <span class="icon-email"></span>
            <span class="">Contact</span>
        </div>

        <div class="contact-form_decoration"></div>

        <div class="contact-form_text">
            <span><b>About:</b> By hand-picking the best of what’s next in entertainment, gaming, fashion, concerts, and technology,
            we offer our users a window to preview their future: what to buy, what to watch, where to go.
            CIZO relieves users from the chore of constantly searching, reading, and refreshing a forest of information
            to find the content they need. Just press play, and we’ll do the rest.</span>
            <br>
            <span><b>Disclaimer:</b> The views and opinions expressed in CIZO’s written editorials are those of the
                author(s) only and do not necessarily reflect the view, opinion, preference, etc., of any other party,
                including, without limitation, the respective owner(s) of any video or audio clip or any recording,
                picture or other display (collectively, “Content”), or of any product appearing or referenced therein,
                to which such editorials relate. The intended use of any and all Content is for editorial or media
                purposes only, and such Content is not to be distributed, copied or duplicated, in any form, for any
                commercial purpose without the express permission of the owner thereof.
            </span>

            <span>CIZO, INC.</span>
            <span>1617 Broadway, Mezz. A</span>
            <span>Santa Monica, CA, 90404</span>
            <span>Phone: (310) 210-4820</span>
            <span>app@cizo.com</span>
            <br>
            <span>Tap to view CIZO <span ui-sref="privacy" class="contact-form_link">Privacy Notice</span> and <span ui-sref="terms" class="contact-form_link">Terms of Use</span>.</span>
        </div>

        <a href="mailto:contact@cizo.com" class="contact-form_button">Contact us</a>
        <a href="mailto:careers@cizo.com" class="contact-form_button">Careers</a>

    </div>

    <div class="icon-close contact-form_close" ng-click="closeView()"></div>
</form>