<form class="contact">
    <div class="contact-form ">
        <div class="contact-form_caption">
            <span class="icon-email"></span>
            <span class="">Contact</span>
        </div>

        <div class="contact-form_decoration"></div>

        <div class="contact-form_text">
            <span><b>About:</b> By hand-picking the best of what’s next in entertainment, gaming, fashion, concerts, and technology,
            we offer our users a window to preview their future: what to buy, what to watch, where to go.
            CIZO relieves users from the chore of constantly searching, reading, and refreshing a forest of information
            to find the content they need. Just press play, and we’ll do the rest.</span>
            <br>
            <span><b>Disclaimer:</b> The views and opinions expressed in&nbsp;this written editorial are those
                of&nbsp;the author(s) only and do&nbsp;not necessarily reflect the view, opinion, preference, etc.,
                of&nbsp;any other party, including, without limitation, the respective owner(s) of&nbsp;any video
                or&nbsp;audio clip or&nbsp;any recording, picture or&nbsp;other display (collectively,
                &laquo;Content&raquo;), or&nbsp;of&nbsp;any product appearing or&nbsp;referenced therein, to&nbsp;which
                such editorial relates. The intended use of&nbsp;any and all Content is&nbsp;for editorial or&nbsp;media
                purposes only, and such Content is&nbsp;not to&nbsp;be&nbsp;distributed, copied or&nbsp;duplicated,
                in&nbsp;any form, for any commercial purpose without the express permission of&nbsp;the owner thereof.
                CIZO does not make any warranty, express or&nbsp;implied, including, without limitation, the warranties
                of&nbsp;merchantability and fitness for a&nbsp;particular purpose, with respect to&nbsp;any product
                or&nbsp;service identified or&nbsp;described in&nbsp;any Content, and specifically disclaims any and
                all legal liability or&nbsp;responsibility for the accuracy, completeness, or&nbsp;usefulness
                of&nbsp;any information presented in&nbsp;any Content or&nbsp;in&nbsp;any editorial. Any potential user
                of&nbsp;any product or&nbsp;service should conduct his or&nbsp;her own due diligence with respect
                to&nbsp;the vendor, product or&nbsp;service, as&nbsp;applicable, as&nbsp;he&nbsp;or&nbsp;she deems
                appropriate.
            </span>

            <span>CIZO, INC.</span>
            <span>1617 Broadway, Mezz. A</span>
            <span>Santa Monica, CA, 90404</span>
            <span>Phone: (310) 210-4820</span>
            <span>app@cizo.com</span>
            <br>
            <span>Tap to view CIZO <span ui-sref="privacy" class="contact-form_link">Privacy Notice</span> and <span ui-sref="terms" class="contact-form_link">Terms of Use</span>.</span>
        </div>

        <a href="mailto:contact@cizo.com" class="contact-form_button">Contact us</a>
        <a href="mailto:careers@cizo.com" class="contact-form_button">Careers</a>

    </div>

    <div class="icon-close contact-form_close" ng-click="closeView()"></div>
</form>