<form>
    <div class="privacy-form">
        <div class="privacy-form_caption">
            Privacy Policy
        </div>

        <div class="privacy-form_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis tempus turpis molestie accumsan.
            Nullam aliquam dictum ipsum, quis fermentum quam vestibulum ut. Vestibulum sed ornare sem.
            Maecenas mauris dolor, tempus at accumsan a, laoreet quis nisi.
            Nulla euismod eros bibendum vestibulum malesuada. Mauris eget mauris quam. Vivamus quis massa volutpat,
            feugiat orci in, fringilla quam. In id odio in justo auctor bibendum. Aenean pretium efficitur malesuada.
            Proin lacinia, odio eget ultrices posuere, nibh nisl iaculis ipsum, quis sollicitudin massa turpis nec tortor.
            Phasellus non pharetra lectus.

            Etiam in odio ligula. Morbi scelerisque vel nulla vel venenatis. Morbi justo urna, maximus in tincidunt vel,
            faucibus et neque. Morbi pellentesque dignissim neque, ac pellentesque odio rhoncus a. Vestibulum at
            scelerisque arcu, sit amet aliquam quam. Duis velit odio, finibus et efficitur sit amet, vulputate sit amet
            leo. Etiam a convallis lacus, a porta nunc. Vestibulum efficitur, ex ut maximus dictum, risus turpis
            vestibulum odio, ut posuere magna ipsum nec sem. Pellentesque ut lacinia odio. Donec tristique tempor magna
            quis venenatis. Ut ac efficitur ex. Praesent nec eleifend ipsum. Donec nisi sem, pretium molestie sem vitae,
            dapibus auctor elit. Ut porttitor et eros ac dictum. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.

            Nunc ullamcorper mauris tellus. Donec ultricies risus eu ipsum feugiat, vitae commodo urna mattis. In lacus
            sem, commodo in fringilla sed, mollis sed est. Praesent dictum dolor sed nisi dignissim condimentum. Vivamus
            blandit ac quam a finibus. Nam id sodales orci, quis porttitor metus. Integer molestie velit et diam
            blandit, et sollicitudin neque ornare. Nunc aliquam urna ex, et imperdiet velit pharetra non. Phasellus est
            urna, tincidunt ac nisl eu, cursus fermentum libero. Pellentesque facilisis ornare nisl a porttitor.

            Pellentesque in pretium arcu, a tempus erat. Donec consectetur arcu a velit rutrum, eget sagittis elit
            condimentum. Fusce lacinia magna lorem, mollis feugiat ex dictum ac. Donec semper dui sapien, et dignissim
            nisl dictum nec. Suspendisse vulputate neque vitae mi feugiat, et scelerisque ipsum hendrerit. Phasellus
            dignissim est at vulputate maximus. Duis varius eu risus eget malesuada.

            Nam consequat justo neque, nec semper risus tristique eget. Aliquam vel posuere turpis. Proin nec
            ullamcorper leo, id sodales justo. Praesent dignissim in elit id egestas. Nullam enim quam, aliquet quis
            mattis sit amet, porttitor dapibus libero. Pellentesque condimentum nec eros sed suscipit. In lacus orci,
            tincidunt sit amet ultrices sed, pellentesque sit amet elit. Nulla volutpat accumsan imperdiet. Aliquam in
            eros mattis felis accumsan lobortis. Nulla dignissim sapien ut pulvinar sollicitudin. Vestibulum eu leo mi.
            Donec at sodales enim. Suspendisse sit amet nisi quis nisl hendrerit sollicitudin. Aenean vulputate vehicula
            ligula ut auctor. Nunc libero nisi, aliquet quis risus at, bibendum congue ligula. Etiam vulputate, ligula
            ut vehicula accumsan, ligula arcu interdum elit, eget interdum orci arcu eu orci.
        </div>

        <button class="privacy-form_sign-up" ng-click="closeView()">Confirm</button>

    </div>

    <div class="icon-close privacy-form_close" ng-click="closeView()"></div>
</form>