

// layout for horizontal nav
@media (min-width: $screen-sm)
{
    .app
    {
        > .main-container
        {
            > .nav-container
            {
                &.nav-horizontal
                {
                    z-index: 9; // less then header, for dropdowns

                    border-width: 0 0 1px;
                    border-style: solid;
                    border-color: darken($horizontal_sidebar_bg, 10%);
                    &:before
                    {
                        border: 0;
                    }

                    .nav-title,
                    .nav-divider
                    {
                        display: none;
                    }

                    &.nav-fixed
                    {
                        right: 0;
                        bottom: auto;
                        left: 0;

                        border-width: 0 1px 1px 0;

                        #nav
                        {
                            text-align: center;
                            > li
                            {
                                display: inline-block;
                                float: none;
                                &.nav-title,
                                &.nav-divider
                                {
                                    display: none;
                                }
                                > a
                                {
                                    padding: 15px 28px;
                                }
                            }
                        }

                        & + .content-container
                        {
                            margin: 80px 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Horizontal nav is desktop only
@media (min-width: $screen-sm-min)
{
    .main-container
    {
        > .nav-container.nav-horizontal
        {
            float: none;

            width: auto;

            // content
            & + .content-container
            {
                margin-left: 0;
            }
        }
    }

    .nav-horizontal
    {
        background-color: $horizontal_sidebar_bg;

        .slimScrollDiv
        {
            overflow: visible !important; // overrides slimScroll plugin

            height: auto !important;

            .slimScrollBar,
            .slimScrollRail
            {
                display: none !important;
            }
        }

        .nav
        {
            overflow: visible !important;

            > li
            {
                position: relative;

                float: left;
                &:hover
                {
                    > a
                    {
                        color: $text-color;
                        background-color: darken($horizontal_sidebar_bg, 5%);
                    }
                    > i
                    {
                        color: $text-color;
                    }
                }
                &.active
                {
                    > a
                    {
                        color: $horizontal_link_active_color;
                        background-color: $horizontal_link_active_bg;
                    }
                    > .icon-has-ul-h
                    {
                        color: $horizontal_link_active_color;
                    }
                }

                > a
                {
                    font-weight: normal;

                    padding: 15px 30px;

                    text-align: center;

                    > i
                    {
                        font-size: 26px;
                        line-height: 1;

                        margin: 0;
                    }

                    span
                    {
                        font-size: 12px;

                        display: block;

                        margin: 0;
                    }

                    .badge
                    {
                        top: 15px;
                    }
                }

                > .icon-has-ul-h
                {
                    font-size: 10px;

                    position: absolute;
                    right: 10px;
                    bottom: 16px;
                    // icon for horizontal nav

                    display: block;
                }

                > .icon-has-ul
                {
                    // icon for default vertical nav
                    display: none;
                }

                &:hover
                {
                    > ul
                    {
                        display: block !important;
                    }
                }



                // sub menu
                > ul
                {
                    position: absolute;
                    z-index: 9; // less then header, so that it's below header dropdown
                    top: 100%;
                    left: 0;

                    width: auto;
                    min-width: 100%;

                    background-color: $horizontal_sub_nav_bg;

                    @include border-bottom-radius($border-radius-base);

                    li
                    {
                        white-space: nowrap;
                        &:hover,
                        &.active
                        {
                            > a
                            {
                                color: $brand-primary;
                            }
                        }
                        // &.active {
                        //     > a {
                        //         background-color: darken($horizontal_sub_nav_bg, 5%);
                        //     }
                        // }

                        > a
                        {
                            padding: 13px 40px 13px 20px;
                        }
                    }
                }
            }
        }
    }
}
