<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <span class="glyphicon glyphicon-menu-hamburger col-xs-1">Menu</span>
            <div class="col-xs-10 text-center">Cizo</div>
            <span class="glyphicon glyphicon-search col-xs-1">Search</span>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row" ng-repeat="videoItem in videosList">
        <player class="col-xs-12 col-md-8 col-md-offset-2" videos-list="videosList" video="videoItem"></player>
    </div>
</div>