<div class="home">

    <featured-player
            id="featured-player"
            video="featuredItem"
            featured-list="featuredList"
            categories-list="categoriesList"
            featured-item="featuredItem"
            host-name="{{hostName}}"
    ></featured-player>

    <div class="home_video-items">
        <category-items category-id="11" videos="videosList" categories="categoriesList"></category-items>
        <category-items category-id="12" videos="videosList" categories="categoriesList"></category-items>
        <category-items category-id="13" videos="videosList" categories="categoriesList"></category-items>
        <category-items category-id="14" videos="videosList" categories="categoriesList"></category-items>
    </div>

</div>

