
<div class="home">
    <top-menu categories="categoriesList"></top-menu>

    <div class="home_featured">
        <img class="home_featured_image" ng-src="{{featuredItem.hero_images.hero_image_link}}">
    </div>
    <featured-carousel featured-list="featuredList"></featured-carousel>

    <category-items category-id="0" videos="videosList" categories="categoriesList"></category-items>
    <category-items category-id="11" videos="videosList" categories="categoriesList"></category-items>
    <category-items category-id="12" videos="videosList" categories="categoriesList"></category-items>
    <category-items category-id="13" videos="videosList" categories="categoriesList"></category-items>
    <category-items category-id="14" videos="videosList" categories="categoriesList"></category-items>
</div>

