.home {
  display: flex;
  flex-direction: column;

  &_wrapper {
    min-height: 740px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    &--playing {
      min-height: 0;
      .home_video-items {
        top: calc(~"100% + 210px");
      }
    }
  }

  &_video-items {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #1b1c1e;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}