<div class="home">

    <left-side-menu storage="storage"></left-side-menu>

    <featured-player
            id="featured-player"
            video="featuredItem"
            featured-list="featuredList"
            categories-list="categoriesList"
            featured-item="featuredItem"
            host-name="{{hostName}}"
            storage="storage"
            videos="videosList"
    ></featured-player>

    <div class="home_video-items">
        <category-items category-id="{{category.id}}"
                        videos="videosList"
                        categories="categoriesList"
                        ng-repeat="category in categoriesList" ng-hide="category.empty"></category-items>
    </div>

</div>

