<div class="drop-zone">
    Drag file or click to select
</div>
<form action="https://cizo-assets.s3.amazonaws.com" method="post" enctype="multipart/form-data">
    <input name="key" ng-model="postData.key">
    <input name="Expires" ng-model="postData.expires">
    <input name="policy" ng-model="postData.policy">
    <input name="x-amz-credential" ng-model="postData.credential">
    <input name="x-amz-algorithm" ng-model="postData.algorithm">
    <input name="x-amz-date" ng-model="postData.date">
    <input name="x-amz-security-token" ng-model="postData.token">
    <input name="x-amz-signature" ng-model="postData.signature">

    <input type="file" class="file-input"   name="file" />
</form>