<div data-ng-controller="UsersCtrl">
    <div class="page page-table">
        <section class="panel panel-default table-dynamic">
            <div class="panel-heading">
                <strong>
                <span class="glyphicon glyphicon-th"></span>
                Current Users</strong>
            </div>

            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <form>
                            <input type="text" placeholder="Search..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
                        </form>
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                        Showing
                        {{filteredUsers.length}}/{{users.data.length}}
                        entries
                    </span>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                User ID #
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                E-Mail Address
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Birthday (Age)
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Administrator
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Reset Password
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in currentPageUsers">
                        <td>
                            {{user.id}}
                        </td>
                        <td>
                            <a ng-href="mailto:{{user.email}}">{{user.email}}</a>
                        </td>
                        <td>
                            <a href="#" editable-bsdate="user.birthday" e-ng-click="opened = !opened" e-class="form-control" e-is-open="opened" e-datepicker-popup="dd-MM-yyyy" e-name="date" onbeforesave="modifyBirthdate(user, $data)">{{(user.birthday | date:"MM/dd/yyyy") || 'empty'}}</a>                            <strong>({{calculateAge(user)}})</strong>
                        </td>
                        <td>
                            <label class="ui-switch ui-switch-success">
                                <input type="checkbox" ng-model="user.is_admin" ng-change="toggleAdmin(user)" ng-checked="user.is_admin">
                                <i></i>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-w-sm btn-gap-v btn-primary" ng-click="resetPassword(user)">Reset Password</button>
                        </td>

                    </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                        Show
                        <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()"></select>
                        entries per page
                    </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm" ng-model="currentPage" total-items="filteredUsers.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</div>
