<div class="container">
    <h2>{{::screenTitle}} Video</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Created</label>
                <span class="col-sm-6">{{::createdDate}}</span>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Last Update</label>
                <span class="col-sm-6">{{::updatedDate}}</span>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Title</label>
                <input class="col-sm-6" ng-model="videoItem.title" required>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Description</label>
                <textarea class="col-sm-6" ng-model="videoItem.description" required></textarea>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Rating</label>
                <select class="col-sm-6" ng-model="videoItem.mpaa_rating" ng-options="rate for rate in mpaaRatingList" required></select>
            </div>
        </div>
        <div class="col-sm-4">
            <uploader></uploader>
        </div>
    </div>
   <button ng-click="updateVideo()">Update video</button>

</div>