<div class="container">
    <h2>Edit Video</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Created</label>
                <span class="col-sm-6"></span>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Last Update</label>
                <span class="col-sm-6"></span>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Title</label>
                <input class="col-sm-6">
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Description</label>
                <textarea class="col-sm-6"></textarea>
            </div>
            <div class="row">
                <label class="col-md-offset-3 col-sm-3">Views</label>
                <span class="col-sm-6"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <uploader></uploader>
        </div>
    </div>

</div>