<nav class="navbar">
    <div class="navbar-main" style="display: none">
        <div class="icon-menu navbar-main_button" ng-click="toggleMenu()" ></div>
        <img class="navbar-main_logo" src="images/logo.svg">
        <div class="icon-search navbar-main_button"></div>
    </div>

    <div class="navbar_search">
        <span class="navbar_search_back icon-back"></span>
        <input class="navbar_search_input">
        <span class="navbar_search_clear icon-close"></span>
    </div>
</nav>

<div class="menu">
    <div class="menu_container">
        <div class="menu_item">
            <span class="menu_item_icon icon-home"></span>
            <span class="menu_item_title">Home</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item">
            <span class="menu_item_icon icon-unseen"></span>
            <span class="menu_item_title">Unseen</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item">
            <span class="menu_item_icon icon-skipped"></span>
            <span class="menu_item_title">Skipped</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item">
            <span class="menu_item_icon icon-seen"></span>
            <span class="menu_item_title">Seen</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item">
            <span class="menu_item_icon icon-favorites"></span>
            <span class="menu_item_title">Favorites</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
        <div class="menu_item">
            <span class="menu_item_icon icon-profile"></span>
            <span class="menu_item_title">Sign in</span>
            <span class="menu_item_counter"></span>
            <span class="menu_item_next icon-forward"></span>
        </div>
    </div>
    <div class="menu_container_outer"  ng-click="toggleMenu(true)"></div>

</div>