.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  padding: 5px;

  &_navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &_advanced {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 10px;
  }

  &_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &_icon {
    font-size: 30px;
    cursor: pointer;
  }

  &_logo {
    height: 30px;
    cursor: pointer;
  }

  &_categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 20px;

    &_item {
      font-size: 18px;
      font-family: main-cizo;
      padding: 5px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &_search {
    display: flex;
    color: black;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-right: 20px;
    &_input {
    }

    &_button {
    }
  }
}