<div class="top-menu">

    <div class="top-menu_navigation">
        <div class="top-menu_main">
            <span class="icon-menu top-menu_icon"></span>
            <img class="top-menu_logo" src="images/logo.svg" ng-click="moveToHome()">
        </div>

        <div class="top-menu_categories">
            <div class="top-menu_categories_item" ng-repeat="category in categoryList" ng-click="categoryClick($event, category.id)">{{category.title}}</div>
        </div>
    </div>

    <div class="top-menu_advanced">
        <div class="top-menu_search">
            <input class="top-menu_search_input">
            <button class="top-menu_search_button icon-search"></button>
        </div>
        <button>Sign Up or Log In</button>
    </div>


</div>