.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  padding: 5px;
  z-index: 2147485680;

  &_navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &_advanced {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 10px;
  }

  &_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &_icon {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
  }

  &_logo {
    height: 30px;
    cursor: pointer;
  }

  &_categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 20px;

    &_item {
      font-size: 18px;
      font-family: main-cizo;
      padding: 5px 15px;
      cursor: pointer;
    }
  }

  &_search {
    background-color: rgba(0,0,0,.8);
    display: flex;
    color: black;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-right: 20px;
    padding: 3px;
    border-radius: 3px;
    &_input {
      background-color: transparent;
      border: none;
      font-family: main-cizo;
      font-size: 18px;
      width: 400px;
      color: white;
    }

    &_button {
      background-color: transparent;
      color: white;
      border: none;
    }
  }

  &_login {
    width: 220px;
    border: 1px solid white;
    font-family: main-cizo;
    font-size: 18px;

    color: white;
    background-color: transparent;

    &_icon {
      padding: 5px;
    }


  }
}