@font-face {
  font-family: 'cizo';
  src: url('./font/cizo.eot?78360421');
  src: url('./font/cizo.eot?78360421#iefix') format('embedded-opentype'),
  url('./font/cizo.woff?78360421') format('woff'),
  url('./font/cizo.ttf?78360421') format('truetype'),
  url('./font/cizo.svg?78360421#cizo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'main-cizo';
  src: url('./font/CenturyGothicRegular.ttf?78360421') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@screen_gradient_start: #0f1012;
@screen_gradient_finish: #2b3c4f;


body {
  background: linear-gradient(45deg, @screen_gradient_start, @screen_gradient_finish);
}

.stop-selection {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cizo";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-google:before { content: '\47'; } /* 'G' */
.icon-reddit:before { content: '\52'; } /* 'R' */
.icon-all:before { content: '\61'; } /* 'a' */
.icon-categorymovie:before { content: '\62'; } /* 'b' */
.icon-categorygames:before { content: '\63'; } /* 'c' */
.icon-categorylifestyle:before { content: '\64'; } /* 'd' */
.icon-categorytv:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-info:before { content: '\67'; } /* 'g' */
.icon-favorites:before { content: '\68'; } /* 'h' */
.icon-play:before { content: '\69'; } /* 'i' */
.icon-pause:before { content: '\6a'; } /* 'j' */
.icon-expand:before { content: '\6b'; } /* 'k' */
.icon-collapse:before { content: '\6d'; } /* 'm' */
.icon-close:before { content: '\6e'; } /* 'n' */
.icon-search:before { content: '\6f'; } /* 'o' */
.icon-menu:before { content: '\70'; } /* 'p' */
.icon-twitter:before { content: '\71'; } /* 'q' */
.icon-replay:before { content: '\72'; } /* 'r' */
.icon-share:before { content: '\73'; } /* 's' */
.icon-forward:before { content: '\74'; } /* 't' */
.icon-home:before { content: '\75'; } /* 'u' */
.icon-skipped:before { content: '\76'; } /* 'v' */
.icon-unseen:before { content: '\77'; } /* 'w' */
.icon-profile:before { content: '\78'; } /* 'x' */
.icon-seen:before { content: '\79'; } /* 'y' */
.icon-back:before { content: '\7a'; } /* 'z' */
