<div class="category-items" id="category-videos-{{::categoryId}}">
    <div class="category-items_title">
        <span class="icon-category{{::iconName}} category-items_title_icon"></span>
        <span class="category-items_title_name">{{::title}}</span>
    </div>

    <div class="category-items_videos">

        <div class="category-items_videos_wrapper">
            <div class="category-items_videos_item"
                 ng-repeat="video in videosList"
                 style="background-image: url('{{video.hero_images.hero_image_link_thumb_banner}}')"
                 ng-click="moveToPlayPage(video)"
                 ng-attr-id="category-play-item-{{video.id}}"
            >
                <div class="category-items_videos_item_overlay">
                    <span class="category-items_videos_item_overlay_button icon-play"></span>
                    <span class="category-items_videos_item_overlay_button icon-replay hidden-layer"></span>
                </div>

                <div class="category-items_videos_item_title">
                    <span class="category-items_videos_item_title_caption">{{::video.title}}</span>
                </div>
            </div>

            <div class="category-items_videos_item-view-all"
                 ng-show="manyItems"
                 ng-click="moveToCategory(categoryId)"
                 style="background: url('images/bgTbnVideo.svg')"
            >
                <span class="category-items_videos_item-view-all_title">View all</span>
            </div>
        </div>

    </div>
</div>