<form>
    <div class="reset-form">
        <div class="reset-form_facebook-login">
            Reset password
        </div>

        <span class="reset-form_title">Enter and repeat new password</span>

        <input ng-model="password" class="reset-form_input" placeholder="Password" type="password">
        <input ng-model="repeatPassword" class="reset-form_input" placeholder="Repeat Password" type="password">

        <button class="reset-form_sign-up" ng-click="updatePassword()">Reset Password</button>

    </div>
</form>