<form class="profile">
    <div class="reset-password-form">
        <div class="reset-password-form_logo">
            <span class="icon-profile"></span>
            <span class="">My Profile</span>
        </div>

        <div class="reset-password-form_decoration"></div>

        <div class="reset-password-form_title">
            Reset password
        </div>

        <span class="reset-password-form_description">Enter and repeat new password</span>

        <input ng-model="password" class="reset-password-form_input" placeholder="Password" type="password">
        <input ng-model="repeatPassword" class="reset-password-form_input" placeholder="Repeat Password" type="password">

        <button class="reset-password-form_sign-up" ng-click="updatePassword()">Reset Password</button>

        <button class="reset-password-form_cancel" ui-sref="home">Cancel</button>

    </div>
</form>
<message-overlay params="message" class="register-form"></message-overlay>