files:
    "/etc/nginx/conf.d/cizo_production.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
          upstream my_app_prod {
            server unix:///var/run/puma/my_app.sock;
          }

          log_format healthd_prod '$msec"$uri"'
                          '$status"$request_time"$upstream_response_time"'
                          '$http_x_forwarded_for';

          server {
            listen 80;
            if ($http_x_forwarded_proto = "http") { return 301 https://$host$request_uri; }

            server_name api.cizo.com;

            if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
            }

            access_log  /var/log/nginx/access.log  main;
            access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd_prod;

            location / {
              proxy_pass http://my_app_prod; # match the name of upstream directive which is defined above
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }
          }

          server {
            listen 80;

            server_name cizo.com;
            return 301 https://www.cizo.com$request_uri;
          }

          server {
            listen 80;
            if ($http_x_forwarded_proto = "http") { return 301 https://$host$request_uri; }

            server_name www.cizo.com;

            if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
            }

            access_log  /var/log/nginx/access.log  main;
            access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd_prod;

            location / {
              root /var/app/current/public/web_client;
              index index.html;
              gzip_static on;
              gzip on;
              expires 1h;
              add_header Cache-Control public;
            }

            location /admin {
              alias /var/app/current/public/admin_panel;
              index index.html;
              gzip_static on;
              gzip on;
              expires 1h;
              add_header Cache-Control public;
            }
          }
          