

// flip scroll (Pure CSS), thanks to http://elvery.net/demo/responsive-tables/#flip-scroll
@media only screen and (max-width: 800px)
{
    .table-flip-scroll
    {
        .cf:after
        {font-size: 0; display: block; 
            visibility: hidden; clear: both; height: 0; content: ' ';
        }
        * html .cf
        {
            zoom: 1;
        }
        *:first-child + html .cf
        {
            zoom: 1;
        }
        table
        {
            width: 100%; border-spacing: 0; border-collapse: collapse;
        }

        th,
        td
        {
            margin: 0; vertical-align: top;
        }
        th
        {
            text-align: left;
        }
        table
        {position: relative; 

            display: block; width: 100%;
        }
        thead
        {
            display: block; float: left;
        }
        tbody
        {position: relative; 

            display: block; overflow-x: auto; width: auto; white-space: nowrap;
        }
        thead tr
        {
            display: block;
        }
        .table > thead > tr > th:first-child
        {
            // add to Bootstrap style
            border-top: 1px solid #ddd;
        }
        th
        {
            display: block; text-align: right;
        }
        tbody tr
        {
            display: inline-block; vertical-align: top;
        }
        td
        {
            display: block; min-height: 1.25em; text-align: left;
        }


        /* sort out borders */

        th
        {
            border-bottom: 0; border-left: 0;
        }
        td
        {border-right: 0; border-bottom: 0; 
            border-left: 0;
        }
        tbody tr
        {
            border-left: 1px solid #babcbf;
        }
        th:last-child,
        td:last-child
        {
            border-bottom: 1px solid #babcbf;
        }
    }
}
